all-workflows-before-telegram-split-2026-04-18.json
[{"updatedAt":"2026-04-18T16:02:28.000Z","createdAt":"2026-04-18T03:45:26.157Z","id":"upbKvfoQpejQ4px1","name":"Daily Dev News AI + Summary (Gemini)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":9}]}},"id":"ae097072-2184-4643-aba0-d7d439ba627d","name":"Daily Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[1344,272]},{"parameters":{"url":"https://hnrss.org/frontpage","options":{}},"id":"60a668f7-7ca7-414d-809c-1a68c33645f8","name":"Hacker News","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[1552,128]},{"parameters":{"url":"https://news.google.com/rss/search?q=python+backend+ai+data+science","options":{}},"id":"47e3a82a-ee83-401f-ba87-b2e625273cec","name":"Google News","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[1552,416]},{"parameters":{},"id":"392796fa-c3b6-46fb-9f42-fae93ff0bee1","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1760,256]},{"parameters":{"functionCode":"const keywords = ['ai','machine learning','data','backend','api','python','llm','rag','architecture','microservices','cloud'];\nreturn items\n  .filter(i => {\n    const text = (i.json.title + ' ' + (i.json.contentSnippet || '')).toLowerCase();\n    return keywords.some(k => text.includes(k));\n  })\n  .slice(0, 10);"},"id":"881503d1-2510-4ac8-a26a-b729dad9fe58","name":"Filter Noise","type":"n8n-nodes-base.function","typeVersion":1,"position":[2016,256]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAhXx3UVidZkldcurNczL-5I12r3Q0b3ls"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": {{ JSON.stringify(\n        \"Você é um engenheiro de software.\\n\\n\" +\n        \"Classifique o conteúdo abaixo.\\n\\n\" +\n        \"Título: \" + ($json.title || \"\") + \"\\n\" +\n        \"Descrição: \" + ($json.contentSnippet || \"sem descrição\") + \"\\n\" +\n        \"Link: \" + ($json.link || \"\") + \"\\n\\n\" +\n        \"Responda em JSON com:\\n\" +\n        \"{\\n\" +\n        \"\\\"relevante\\\": true/false,\\n\" +\n        \"\\\"categoria\\\": \\\"aprendizado\\\" ou \\\"atualizacao\\\",\\n\" +\n        \"\\\"titulo\\\": \\\"...\\\",\\n\" +\n        \"\\\"resumo\\\": \\\"...\\\",\\n\" +\n        \"\\\"link\\\": \\\"...\\\"\\n\" +\n        \"}\"\n      ) }}\n    }]\n  }]\n}","options":{}},"id":"3cf87859-310c-4855-9c9d-202938d4e315","name":"Gemini AI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2224,256]},{"parameters":{"functionCode":"return items.map(item => {\n  try {\n    const text = item.json.candidates[0].content.parts[0].text;\n    const json = JSON.parse(text);\n    if (!json.relevante) return null;\n    return { json };\n  } catch (e) {\n    return null;\n  }\n}).filter(i => i !== null);"},"id":"268b5312-02cb-4f56-9b32-01cc94e77cdc","name":"Parse AI","type":"n8n-nodes-base.function","typeVersion":1,"position":[2416,256]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.categoria}}","value2":"aprendizado"}]}},"id":"995654df-261c-4c90-af0b-692baf26e7c2","name":"Split Type","type":"n8n-nodes-base.if","typeVersion":1,"position":[2608,256]},{"parameters":{"functionCode":"return [{ json: { text: `🧠 *Aprendizado*\\n\\n${items.map(i => `• ${i.json.titulo}\\n${i.json.resumo}\\n${i.json.link}`).join('\\n\\n')}` } }];"},"id":"fdf0dcef-66f0-4311-bafb-627716cf5ae0","name":"Format Learning","type":"n8n-nodes-base.function","typeVersion":1,"position":[2816,176]},{"parameters":{"functionCode":"return [{ json: { text: `⚡ *Atualizações*\\n\\n${items.map(i => `• ${i.json.titulo}\\n${i.json.resumo}\\n${i.json.link}`).join('\\n\\n')}` } }];"},"id":"b4a0c939-91fd-4fca-b7d8-2d6e5fdb864e","name":"Format Updates","type":"n8n-nodes-base.function","typeVersion":1,"position":[2816,368]},{"parameters":{},"id":"d87b0126-b2a1-4889-97d1-7423b85c152c","name":"Merge Final","type":"n8n-nodes-base.merge","typeVersion":2,"position":[3008,272]},{"parameters":{"chatId":"5242382463","text":"={{$json.text}}","additionalFields":{}},"id":"702f7ec1-cbff-4dbc-9acf-15bf490339ea","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[3216,272],"webhookId":"a834c3a3-1c7d-4cd8-80bd-7fe8bcec9e00","credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}}}],"connections":{"Daily Cron":{"main":[[{"node":"Hacker News","type":"main","index":0},{"node":"Google News","type":"main","index":0}]]},"Hacker News":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google News":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Filter Noise","type":"main","index":0}]]},"Filter Noise":{"main":[[{"node":"Gemini AI","type":"main","index":0}]]},"Gemini AI":{"main":[[{"node":"Parse AI","type":"main","index":0}]]},"Parse AI":{"main":[[{"node":"Split Type","type":"main","index":0}]]},"Split Type":{"main":[[{"node":"Format Learning","type":"main","index":0}],[{"node":"Format Updates","type":"main","index":0}]]},"Format Learning":{"main":[[{"node":"Merge Final","type":"main","index":0}]]},"Format Updates":{"main":[[{"node":"Merge Final","type":"main","index":1}]]},"Merge Final":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"49a1cd43-6293-49ad-82c3-fcff75258881","activeVersionId":null,"versionCounter":54,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T03:45:26.160Z","createdAt":"2026-04-18T03:45:26.160Z","role":"workflow:owner","workflowId":"upbKvfoQpejQ4px1","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-18T06:33:35.170Z","createdAt":"2026-04-18T04:15:07.530Z","id":"r0tnSrFgOp4srjKa","name":"FeConect - Error Alerts Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 * * * *"}]}},"name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,336],"id":"dcc04339-4600-4aed-a689-f860bfa401bd"},{"parameters":{"authentication":"privateKey","command":"for service in backend billing-worker billing-webhook-consumer webhook-outbox-relay email-consumer email-outbox-relay change-subscription-worker financial-account-balance-snapshot-worker church-documents-retention-worker; do\n  cid=$(docker ps --filter \"label=com.docker.compose.project=feconect\" --filter \"label=com.docker.compose.service=$service\" -q | head -n 1)\n  if [ -n \"$cid\" ]; then\n    docker logs --since 5m \"$cid\" 2>&1 | sed \"s/^/[${service}] /\"\n  fi\ndone"},"name":"Fetch Docker Logs via SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-528,336],"id":"05241b60-5f95-4824-a8cd-aaca1dc484e7","credentials":{"sshPrivateKey":{"id":"2urEEfcr9NaOCNJN","name":"SSH Password account"}}},{"parameters":{"jsCode":"const stdout = String(items[0]?.json?.stdout ?? items[0]?.json?.data ?? '');\nconst stripAnsi = (value) => value.replace(/\\u001b\\[[0-9;]*m/g, '');\nconst lines = stdout\n  .split('\\n')\n  .map((line) => stripAnsi(line).trim())\n  .filter(Boolean);\n\nconst benignPatterns = [\n  /get \\/metrics/i,\n  /nenhum evento elegivel para replay/i,\n  /no email outbox events eligible for replay/i,\n  /executando replay de eventos de webhook pendentes\\/falhos/i,\n];\n\nconst criticalPatterns = [\n  /\"level\":\"error\"/i,\n  /\"severity\":\"error\"/i,\n  /\\b(error|erro|fatal|panic|critical|crit|exception|uncaught)\\b/i,\n  /\\b(falha|falhou|failed|failure)\\b/i,\n  /\\b(timeout|timed out|refused|unavailable)\\b/i,\n];\n\nconst interesting = [];\nfor (const line of lines) {\n  if (benignPatterns.some((pattern) => pattern.test(line))) {\n    continue;\n  }\n\n  const lower = line.toLowerCase();\n  const isStructuredWarn = lower.includes('\"level\":\"warn\"') || lower.includes('\"severity\":\"warn\"');\n  const hasCriticalSignal = criticalPatterns.some((pattern) => pattern.test(line));\n\n  if (!hasCriticalSignal && !isStructuredWarn) {\n    continue;\n  }\n\n  if (isStructuredWarn && !hasCriticalSignal) {\n    continue;\n  }\n\n  interesting.push(line);\n}\n\nconst dedup = [...new Set(interesting)].slice(0, 10);\nconst hasAlerts = dedup.length > 0;\nconst signature = JSON.stringify(dedup);\nconst now = Date.now();\nconst cooldownMs = 30 * 60 * 1000;\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n\nif (!hasAlerts) {\n  if (store) {\n    delete store.lastAlertSignature;\n    delete store.lastAlertSentAt;\n  }\n  return [];\n}\n\nif (store) {\n  const lastSignature = String(store.lastAlertSignature ?? '');\n  const lastSentAt = Number(store.lastAlertSentAt ?? 0);\n  const withinCooldown = lastSignature === signature && lastSentAt > 0 && now - lastSentAt < cooldownMs;\n  if (withinCooldown) {\n    return [];\n  }\n  store.lastAlertSignature = signature;\n  store.lastAlertSentAt = now;\n}\n\nconst message = [\n  'Alerta FeConect',\n  '',\n  'Erros recentes nos containers:',\n  '',\n  ...dedup.map((line) => `- ${line}`),\n].join('\\n');\n\nreturn [{ json: { hasAlerts: true, alerts: dedup, message } }];"},"name":"Extract Error Alerts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,336],"id":"68e46f08-099f-4b6b-9205-341ee3d0c03a"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasAlerts === true }}","operation":"isTrue"}]},"options":{}},"name":"Has Alerts?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,336],"id":"f9b8c7bc-4168-4387-ace0-2e710f9c6312"},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"name":"Telegram Error Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,256],"id":"9d52d28b-29ce-4ace-a063-39a4e340f91c","webhookId":"c18f6751-51e4-4e7a-ac3e-53a01d8cc8a3","credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}}}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Fetch Docker Logs via SSH","type":"main","index":0}]]},"Fetch Docker Logs via SSH":{"main":[[{"node":"Extract Error Alerts","type":"main","index":0}]]},"Extract Error Alerts":{"main":[[{"node":"Has Alerts?","type":"main","index":0}]]},"Has Alerts?":{"main":[[{"node":"Telegram Error Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Every 5 Minutes":{"recurrenceRules":[]},"global":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f758e834-f4a5-4b39-aa4a-15532c665a14","activeVersionId":"f758e834-f4a5-4b39-aa4a-15532c665a14","versionCounter":166,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T04:15:07.533Z","createdAt":"2026-04-18T04:15:07.533Z","role":"workflow:owner","workflowId":"r0tnSrFgOp4srjKa","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":"Version f758e834","description":""}},{"updatedAt":"2026-04-18T15:38:34.000Z","createdAt":"2026-04-18T04:39:21.795Z","id":"7lHpFsRfCuIvMB3j","name":"FeConect - Daily Summary Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"10015b39-9313-426d-8108-eabae6e47080","name":"Daily 09:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"WITH bounds AS (\n  SELECT ((CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::date - INTERVAL '1 day')::date AS day_ref\n), payments AS (\n  SELECT\n    COUNT(*)::int AS total_events,\n    COUNT(*) FILTER (WHERE status IN ('RECEIVED', 'CONFIRMED'))::int AS success_count,\n    COUNT(*) FILTER (WHERE status NOT IN ('RECEIVED', 'CONFIRMED'))::int AS failure_count,\n    COALESCE(SUM(value) FILTER (WHERE status IN ('RECEIVED', 'CONFIRMED')), 0)::text AS success_amount\n  FROM public.subscription_payments sp\n  CROSS JOIN bounds b\n  WHERE timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))::date = b.day_ref\n), failed_webhooks AS (\n  SELECT\n    COUNT(*)::int AS failed_count,\n    COUNT(*) FILTER (WHERE attempts >= 3)::int AS critical_count\n  FROM public.gateway_webhook_events gwe\n  CROSS JOIN bounds b\n  WHERE timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))::date = b.day_ref\n    AND gwe.status = 'FAILED'\n), peak_hour AS (\n  SELECT LPAD(EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at)))::text, 2, '0') AS peak_hour\n  FROM public.subscription_payments sp\n  CROSS JOIN bounds b\n  WHERE timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))::date = b.day_ref\n  GROUP BY 1\n  ORDER BY COUNT(*) DESC, 1 ASC\n  LIMIT 1\n), emails AS (\n  SELECT\n    COUNT(*) FILTER (\n      WHERE status = 'DONE'\n        AND timezone('America/Sao_Paulo', COALESCE(processed_at, updated_at, created_at))::date = b.day_ref\n    )::int AS email_done_count,\n    COUNT(*) FILTER (\n      WHERE status <> 'DONE'\n        AND timezone('America/Sao_Paulo', COALESCE(updated_at, created_at))::date = b.day_ref\n    )::int AS email_failed_count,\n    COUNT(*) FILTER (WHERE status <> 'DONE')::int AS email_pending_backlog\n  FROM public.email_outbox_events eo\n  CROSS JOIN bounds b\n), catalog AS (\n  SELECT\n    (SELECT COUNT(*)::int FROM public.users) AS total_users,\n    (SELECT COUNT(*)::int FROM public.churches WHERE deleted_at IS NULL) AS total_churches,\n    (SELECT COUNT(*)::int FROM public.events) AS total_events_catalog,\n    (SELECT COUNT(*)::int FROM public.members m WHERE m.role = 'Membro') AS total_members,\n    (SELECT COUNT(*)::int FROM public.members m WHERE m.role = 'Colaborador') AS total_collaborators,\n    (SELECT COUNT(*)::int FROM public.assemblies) AS total_assemblies,\n    (SELECT COUNT(*)::int FROM public.church_documents cd WHERE cd.deleted_at IS NULL) AS total_documents,\n    (SELECT COUNT(*)::int FROM public.financial_transactions ft) AS total_financial_transactions,\n    (SELECT COUNT(*)::int FROM public.users u CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', u.created_at)::date = b.day_ref) AS new_users,\n    (SELECT COUNT(*)::int FROM public.churches c CROSS JOIN bounds b WHERE c.deleted_at IS NULL AND timezone('America/Sao_Paulo', c.created_at)::date = b.day_ref) AS new_churches,\n    (SELECT COUNT(*)::int FROM public.events e CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', e.created_at)::date = b.day_ref) AS new_events,\n    (SELECT COUNT(*)::int FROM public.members m CROSS JOIN bounds b WHERE m.role = 'Membro' AND timezone('America/Sao_Paulo', m.created_at)::date = b.day_ref) AS new_members,\n    (SELECT COUNT(*)::int FROM public.members m CROSS JOIN bounds b WHERE m.role = 'Colaborador' AND timezone('America/Sao_Paulo', m.created_at)::date = b.day_ref) AS new_collaborators,\n    (SELECT COUNT(*)::int FROM public.assemblies a CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', a.created_at)::date = b.day_ref) AS new_assemblies,\n    (SELECT COUNT(*)::int FROM public.church_documents cd CROSS JOIN bounds b WHERE cd.deleted_at IS NULL AND timezone('America/Sao_Paulo', cd.created_at)::date = b.day_ref) AS new_documents,\n    (SELECT COUNT(*)::int FROM public.financial_transactions ft CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', ft.created_at)::date = b.day_ref) AS new_financial_transactions,\n    (SELECT COUNT(*)::int FROM public.financial_reconciliations fr CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', fr.created_at)::date = b.day_ref) AS daily_reconciliations\n)\nSELECT\n  TO_CHAR(b.day_ref, 'YYYY-MM-DD') AS local_day,\n  TO_CHAR(b.day_ref::timestamp, 'HH24:MI:SS') AS report_window_start_local,\n  TO_CHAR((b.day_ref::timestamp + INTERVAL '1 day' - INTERVAL '1 second'), 'HH24:MI:SS') AS report_window_end_local,\n  'America/Sao_Paulo' AS report_window_timezone,\n  p.total_events,\n  p.success_count,\n  p.failure_count,\n  CASE\n    WHEN p.total_events = 0 THEN 0\n    ELSE ROUND((p.failure_count::numeric / p.total_events::numeric) * 100, 2)\n  END AS failure_rate_pct,\n  p.success_amount,\n  fw.failed_count AS webhook_failed_count,\n  fw.critical_count,\n  COALESCE(ph.peak_hour, 'n/d') AS peak_hour,\n  e.email_done_count,\n  e.email_failed_count,\n  e.email_pending_backlog,\n  c.total_users,\n  c.total_churches,\n  c.total_events_catalog,\n  c.total_members,\n  c.total_collaborators,\n  c.total_assemblies,\n  c.total_documents,\n  c.total_financial_transactions,\n  c.new_users,\n  c.new_churches,\n  c.new_events,\n  c.new_members,\n  c.new_collaborators,\n  c.new_assemblies,\n  c.new_documents,\n  c.new_financial_transactions,\n  c.daily_reconciliations\nFROM bounds b\nCROSS JOIN payments p\nCROSS JOIN failed_webhooks fw\nCROSS JOIN emails e\nCROSS JOIN catalog c\nLEFT JOIN peak_hour ph ON TRUE;","options":{}},"id":"07bb3148-c059-4cfa-81e1-35e49e2ecae0","name":"Query Daily Summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[288,0],"credentials":{"postgres":{"id":"FvFc8yCxaa3CkPIS","name":"Postgres account"}}},{"parameters":{"authentication":"privateKey","command":"python3 - <<'PY'\nfrom datetime import datetime, time, timedelta, timezone\nfrom zoneinfo import ZoneInfo\nimport collections\nimport json\nimport re\nimport subprocess\nimport urllib.error\nimport urllib.request\n\nservices = [\n    'backend',\n    'billing-worker',\n    'billing-webhook-consumer',\n    'webhook-outbox-relay',\n    'email-consumer',\n    'email-outbox-relay',\n    'change-subscription-worker',\n    'financial-account-balance-snapshot-worker',\n    'church-documents-retention-worker',\n]\nping_url = 'https://pedro-duarte.ddns.net/feconnect/api/ping'\nansi_re = re.compile(r'\\x1b\\[[0-9;]*m')\nhttp_re = re.compile(r'\"([A-Z]+) ([^\\s]+) HTTP/[0-9.]+\" (\\d{3})')\ncritical_re = re.compile(r'\"level\":\"error\"|\"severity\":\"error\"|\\b(error|erro|fatal|panic|critical|crit|exception|uncaught|falha|falhou|failed|failure|timeout|timed out|refused|unavailable)\\b', re.I)\nwarn_re = re.compile(r'\"level\":\"warn\"|\"severity\":\"warn\"|\\bwarn(ing)?\\b', re.I)\nbenign_re = [\n    re.compile(r'get /metrics', re.I),\n    re.compile(r'nenhum evento elegivel para replay', re.I),\n    re.compile(r'no email outbox events eligible for replay', re.I),\n    re.compile(r'executando replay de eventos de webhook pendentes/falhos', re.I),\n]\n\nsummary = {\n    'day_ref': None,\n    'report_window_start_local': None,\n    'report_window_end_local': None,\n    'report_window_timezone': 'America/Sao_Paulo',\n    'report_window_start_utc': None,\n    'report_window_end_utc': None,\n    'app_ping_status': 'OFF',\n    'app_ping_http_status': None,\n    'app_ping_latency_ms': None,\n    'app_ping_checked_at': None,\n    'app_ping_error': None,\n    'http_requests_total': 0,\n    'http_2xx': 0,\n    'http_3xx': 0,\n    'http_4xx': 0,\n    'http_5xx': 0,\n    'top_paths': [],\n    'error_paths': [],\n    'errors_by_service': {},\n    'warns_by_service': {},\n}\n\ntry:\n    local_tz = ZoneInfo('America/Sao_Paulo')\n    now_local = datetime.now(local_tz)\n    day_ref = now_local.date() - timedelta(days=1)\n    start_local = datetime.combine(day_ref, time.min, tzinfo=local_tz)\n    end_local = start_local + timedelta(days=1)\n    since = start_local.astimezone(timezone.utc).isoformat().replace('+00:00', 'Z')\n    until = end_local.astimezone(timezone.utc).isoformat().replace('+00:00', 'Z')\n    summary['day_ref'] = str(day_ref)\n    summary['report_window_start_local'] = start_local.strftime('%H:%M:%S')\n    summary['report_window_end_local'] = (end_local - timedelta(seconds=1)).strftime('%H:%M:%S')\n    summary['report_window_start_utc'] = since\n    summary['report_window_end_utc'] = until\n    summary['app_ping_checked_at'] = now_local.isoformat()\n\n    ping_started = datetime.now(timezone.utc)\n    request = urllib.request.Request(\n        ping_url,\n        headers={\n            'User-Agent': 'n8n-feconect-daily-summary/1.0',\n            'Accept': 'application/json,text/plain,*/*',\n        },\n    )\n    try:\n        with urllib.request.urlopen(request, timeout=10) as response:\n            ping_finished = datetime.now(timezone.utc)\n            summary['app_ping_http_status'] = getattr(response, 'status', None)\n            summary['app_ping_latency_ms'] = round((ping_finished - ping_started).total_seconds() * 1000, 2)\n            if 200 <= (summary['app_ping_http_status'] or 0) < 400:\n                summary['app_ping_status'] = 'ON'\n            else:\n                summary['app_ping_error'] = f'HTTP {summary[\"app_ping_http_status\"]}'\n    except urllib.error.HTTPError as exc:\n        ping_finished = datetime.now(timezone.utc)\n        summary['app_ping_http_status'] = exc.code\n        summary['app_ping_latency_ms'] = round((ping_finished - ping_started).total_seconds() * 1000, 2)\n        summary['app_ping_error'] = f'HTTP {exc.code}'\n    except Exception as exc:\n        ping_finished = datetime.now(timezone.utc)\n        summary['app_ping_latency_ms'] = round((ping_finished - ping_started).total_seconds() * 1000, 2)\n        summary['app_ping_error'] = str(exc)\n\n    path_counts = collections.Counter()\n    error_path_counts = collections.Counter()\n    errors_by_service = collections.Counter()\n    warns_by_service = collections.Counter()\n\n    for service in services:\n        cid_proc = subprocess.run(\n            [\n                'docker', 'ps',\n                '--filter', 'label=com.docker.compose.project=feconect',\n                '--filter', f'label=com.docker.compose.service={service}',\n                '-q',\n            ],\n            capture_output=True,\n            text=True,\n        )\n        cids = [line.strip() for line in cid_proc.stdout.splitlines() if line.strip()]\n        if not cids:\n            continue\n\n        logs_proc = subprocess.run(\n            ['docker', 'logs', '--since', since, '--until', until, cids[0]],\n            capture_output=True,\n            text=True,\n        )\n        text = (logs_proc.stdout or '') + ('\\n' + logs_proc.stderr if logs_proc.stderr else '')\n\n        for raw in text.splitlines():\n            line = ansi_re.sub('', raw).strip()\n            if not line:\n                continue\n\n            http_match = http_re.search(line)\n            if service == 'backend' and http_match:\n                _, path, status_text = http_match.groups()\n                if path.startswith('/metrics'):\n                    continue\n                status = int(status_text)\n                summary['http_requests_total'] += 1\n                if 200 <= status < 300:\n                    summary['http_2xx'] += 1\n                elif 300 <= status < 400:\n                    summary['http_3xx'] += 1\n                elif 400 <= status < 500:\n                    summary['http_4xx'] += 1\n                elif 500 <= status < 600:\n                    summary['http_5xx'] += 1\n\n                normalized = re.sub(r'/[0-9a-fA-F-]{8,}', '/:id', path.split('?')[0])\n                path_counts[normalized] += 1\n                if status >= 400:\n                    error_path_counts[f'{normalized} ({status})'] += 1\n                continue\n\n            if any(pattern.search(line) for pattern in benign_re):\n                continue\n\n            if critical_re.search(line):\n                errors_by_service[service] += 1\n            elif warn_re.search(line):\n                warns_by_service[service] += 1\n\n    summary['top_paths'] = [f'{path} ({count})' for path, count in path_counts.most_common(3)]\n    summary['error_paths'] = [f'{path} ({count})' for path, count in error_path_counts.most_common(3)]\n    summary['errors_by_service'] = dict(errors_by_service)\n    summary['warns_by_service'] = dict(warns_by_service)\nexcept Exception as exc:\n    summary['_meta_error'] = str(exc)\n\nprint(json.dumps(summary, ensure_ascii=True))\n\nPY"},"id":"c810d296-7b08-4145-8b9a-e7477914f1c9","name":"Fetch Daily App Context","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[288,208],"credentials":{"sshPrivateKey":{"id":"2urEEfcr9NaOCNJN","name":"SSH Password account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition"},"id":"1f11d04e-b9d0-43be-85c3-89007abe4920","name":"Merge Daily Context","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[560,80]},{"parameters":{"jsCode":"const row = items[0]?.json ?? {};\n\nconst parseJson = (value) => {\n  try {\n    return JSON.parse(String(value ?? '{}'));\n  } catch {\n    return {};\n  }\n};\n\nconst toInt = (value) => Number.parseInt(String(value ?? 0), 10) || 0;\nconst toFloat = (value) => Number(value ?? 0) || 0;\nconst formatList = (value, fallback) => Array.isArray(value) && value.length > 0 ? value.join('; ') : fallback;\nconst formatMap = (value, fallback) => {\n  if (!value || typeof value !== 'object') {\n    return fallback;\n  }\n  const entries = Object.entries(value).filter(([, count]) => Number(count) > 0);\n  return entries.length > 0 ? entries.map(([name, count]) => `${name}=${count}`).join(', ') : fallback;\n};\nconst brDateTime = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  dateStyle: 'short',\n  timeStyle: 'medium',\n});\nconst brDate = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  dateStyle: 'short',\n});\nconst formatCheckedAt = (value) => {\n  if (!value) {\n    return 'n/d';\n  }\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? String(value) : brDateTime.format(date);\n};\nconst formatReportDate = (value) => {\n  if (!value) {\n    return 'n/d';\n  }\n  const date = new Date(`${value}T00:00:00-03:00`);\n  return Number.isNaN(date.getTime()) ? String(value) : brDate.format(date);\n};\n\nconst logSummary = parseJson(row.stdout);\nconst day = row.local_day ?? logSummary.day_ref ?? 'n/d';\nconst checkedAt = logSummary.app_ping_checked_at ?? null;\nconst checkedAtLabel = formatCheckedAt(checkedAt);\nconst reportDateLabel = formatReportDate(day);\nconst reportWindowStart = row.report_window_start_local ?? logSummary.report_window_start_local ?? '00:00:00';\nconst reportWindowEnd = row.report_window_end_local ?? logSummary.report_window_end_local ?? '23:59:59';\nconst reportWindowTimezone = row.report_window_timezone ?? logSummary.report_window_timezone ?? 'America/Sao_Paulo';\nconst reportWindowTimezoneLabel = reportWindowTimezone === 'America/Sao_Paulo'\n  ? 'horario de Sao Paulo'\n  : String(reportWindowTimezone).replace(/_/g, ' ');\nconst reportWindowLabel = `${reportWindowStart} a ${reportWindowEnd} (${reportWindowTimezoneLabel})`;\nconst checkedDateKey = checkedAt && !Number.isNaN(new Date(checkedAt).getTime())\n  ? new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Sao_Paulo' }).format(new Date(checkedAt))\n  : null;\nconst reportDateKey = /^\\d{4}-\\d{2}-\\d{2}$/.test(String(day ?? '')) ? String(day) : null;\nconst appStatus = String(logSummary.app_ping_status ?? 'OFF').toUpperCase() === 'ON' ? 'ON' : 'OFF';\nconst appPingStatusCode = logSummary.app_ping_http_status ?? 'n/d';\nconst appPingLatency = logSummary.app_ping_latency_ms == null ? 'n/d' : `${Number(logSummary.app_ping_latency_ms).toFixed(2)} ms`;\nconst appPingError = logSummary.app_ping_error ? ` | detalhe: ${logSummary.app_ping_error}` : '';\nconst success = toInt(row.success_count);\nconst failures = toInt(row.failure_count);\nconst total = toInt(row.total_events);\nconst rate = toFloat(row.failure_rate_pct).toFixed(2);\nconst critical = toInt(row.critical_count);\nconst webhookFailed = toInt(row.webhook_failed_count);\nconst peakHour = row.peak_hour ?? 'n/d';\nconst amount = row.success_amount ?? '0';\nconst emailDone = toInt(row.email_done_count);\nconst emailFailed = toInt(row.email_failed_count);\nconst emailPending = toInt(row.email_pending_backlog);\nconst totalUsers = toInt(row.total_users);\nconst totalChurches = toInt(row.total_churches);\nconst totalEventsCatalog = toInt(row.total_events_catalog);\nconst totalMembers = toInt(row.total_members);\nconst totalCollaborators = toInt(row.total_collaborators);\nconst totalAssemblies = toInt(row.total_assemblies);\nconst totalDocuments = toInt(row.total_documents);\nconst totalFinancialTransactions = toInt(row.total_financial_transactions);\nconst newUsers = toInt(row.new_users);\nconst newChurches = toInt(row.new_churches);\nconst newEvents = toInt(row.new_events);\nconst newMembers = toInt(row.new_members);\nconst newCollaborators = toInt(row.new_collaborators);\nconst newAssemblies = toInt(row.new_assemblies);\nconst newDocuments = toInt(row.new_documents);\nconst newFinancialTransactions = toInt(row.new_financial_transactions);\nconst dailyReconciliations = toInt(row.daily_reconciliations);\n\nconst httpTotal = toInt(logSummary.http_requests_total);\nconst http2xx = toInt(logSummary.http_2xx);\nconst http3xx = toInt(logSummary.http_3xx);\nconst http4xx = toInt(logSummary.http_4xx);\nconst http5xx = toInt(logSummary.http_5xx);\nconst topPaths = formatList(logSummary.top_paths, 'n/d');\nconst errorPaths = formatList(logSummary.error_paths, 'nenhuma');\nconst errorServices = formatMap(logSummary.errors_by_service, 'nenhum');\nconst warnServices = formatMap(logSummary.warns_by_service, 'nenhum');\nconst totalErrorSignals = Object.values(logSummary.errors_by_service ?? {}).reduce((sum, value) => sum + toInt(value), 0);\nconst totalWarnSignals = Object.values(logSummary.warns_by_service ?? {}).reduce((sum, value) => sum + toInt(value), 0);\nconst logSummaryError = logSummary._meta_error ? `- observacao: resumo de logs incompleto (${logSummary._meta_error})` : null;\n\nconst referenceLines = checkedDateKey && reportDateKey && checkedDateKey === reportDateKey\n  ? [`Data de checagem e data-base do relatorio: ${checkedAtLabel} | janela considerada: ${reportWindowLabel}`]\n  : [\n      `Data de checagem: ${checkedAtLabel}`,\n      `Data-base do relatorio: ${reportDateLabel} | janela considerada: ${reportWindowLabel}`,\n    ];\n\nconst messageLines = [\n  `Resumo FeConect (${day})`,\n  '',\n  ...referenceLines,\n  `Status inicial da aplicacao: ${appStatus}`,\n  `- /ping: HTTP ${appPingStatusCode} | latencia ${appPingLatency}${appPingError}`,\n  '',\n  'Aplicacao:',\n  `- ${httpTotal} requisicoes HTTP no dia`,\n  `- status HTTP: ${http2xx} 2xx | ${http3xx} 3xx | ${http4xx} 4xx | ${http5xx} 5xx`,\n  `- rotas mais acessadas: ${topPaths}`,\n  `- rotas com 4xx/5xx: ${errorPaths}`,\n  `- sinais em logs: ${totalErrorSignals} erros relevantes | ${totalWarnSignals} warnings`,\n  `- servicos com erro: ${errorServices}`,\n  `- servicos com warning: ${warnServices}`,\n  '',\n  'Financeiro e integracoes:',\n  `- ${success} pagamentos confirmados/recebidos de ${total}`,\n  `- ${failures} pagamentos nao ok | taxa de falha ${rate}%`,\n  `- valor confirmado: R$ ${amount}`,\n  `- ${webhookFailed} webhooks com falha | ${critical} criticos (3+ tentativas)`,\n  `- emails: ${emailDone} processados | ${emailFailed} com falha | ${emailPending} pendentes`,\n  `- lancamentos financeiros: ${totalFinancialTransactions} na base | ${newFinancialTransactions} criados no dia`,\n  `- conciliacoes bancarias realizadas no dia: ${dailyReconciliations}`,\n  `- pico operacional as ${peakHour}h`,\n  '',\n  'Contexto da base:',\n  `- base atual: ${totalUsers} usuarios | ${totalChurches} igrejas | ${totalEventsCatalog} eventos | ${totalMembers} membros | ${totalCollaborators} colaboradores | ${totalAssemblies} assembleias | ${totalDocuments} documentos | ${totalFinancialTransactions} lancamentos`,\n  `- criados no dia: ${newUsers} usuarios | ${newChurches} igrejas | ${newEvents} eventos | ${newMembers} membros | ${newCollaborators} colaboradores | ${newAssemblies} assembleias | ${newDocuments} documentos | ${newFinancialTransactions} lancamentos`,\n];\n\nif (logSummaryError) {\n  messageLines.push('', logSummaryError);\n}\n\nreturn [{\n  json: {\n    message: messageLines.join('\\n'),\n    summary: row,\n    logSummary,\n  },\n}];\n"},"id":"a7086706-bef7-4d37-a2bd-1a86339015bc","name":"Format Summary Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,80]},{"parameters":{"chatId":"5242382463","text":"={{ $json.message }}","additionalFields":{}},"id":"064772d7-5ea7-4ea2-95e6-f26b5d7e757b","name":"Telegram Summary","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,80],"webhookId":"3c40ff8b-61ad-484f-bcbd-6f5e4ff9b04b","credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}}}],"connections":{"Daily 09:00":{"main":[[{"node":"Query Daily Summary","type":"main","index":0},{"node":"Fetch Daily App Context","type":"main","index":0}]]},"Query Daily Summary":{"main":[[{"node":"Merge Daily Context","type":"main","index":0}]]},"Fetch Daily App Context":{"main":[[{"node":"Merge Daily Context","type":"main","index":1}]]},"Merge Daily Context":{"main":[[{"node":"Format Summary Message","type":"main","index":0}]]},"Format Summary Message":{"main":[[{"node":"Telegram Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Daily 09:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9569c26e-7556-4541-9a3f-d291b1806047","activeVersionId":"9569c26e-7556-4541-9a3f-d291b1806047","versionCounter":29,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T04:39:21.798Z","createdAt":"2026-04-18T04:39:21.798Z","role":"workflow:owner","workflowId":"7lHpFsRfCuIvMB3j","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":"Version 9bc55b49","description":""}},{"updatedAt":"2026-04-18T06:58:51.222Z","createdAt":"2026-04-18T04:39:32.151Z","id":"VASP7rRXqDsSI5AC","name":"FeConect - Anomaly Detection Telegram","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 * * * *"}]}},"id":"489dc9b8-c03b-4498-9f29-0542ae46af33","name":"Every 10 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1056,80]},{"parameters":{"operation":"executeQuery","query":"WITH current_payments AS (\n  SELECT COUNT(*)::numeric AS current_ok\n  FROM public.subscription_payments sp\n  WHERE COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) >= CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n    AND sp.status IN ('RECEIVED', 'CONFIRMED')\n), historical_payments AS (\n  SELECT COALESCE(AVG(bucket.qty), 0)::numeric AS avg_ok\n  FROM (\n    SELECT\n      date_trunc('hour', timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))) AS bucket_hour,\n      COUNT(*)::numeric AS qty\n    FROM public.subscription_payments sp\n    WHERE COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) >= CURRENT_TIMESTAMP - INTERVAL '14 days'\n      AND COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) < CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n      AND sp.status IN ('RECEIVED', 'CONFIRMED')\n      AND EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))) = EXTRACT(HOUR FROM timezone('America/Sao_Paulo', CURRENT_TIMESTAMP))\n    GROUP BY 1\n  ) AS bucket\n), current_failed_webhooks AS (\n  SELECT COUNT(*)::numeric AS current_failed\n  FROM public.gateway_webhook_events gwe\n  WHERE COALESCE(gwe.updated_at, gwe.created_at) >= CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n    AND gwe.status = 'FAILED'\n), historical_failed_webhooks AS (\n  SELECT COALESCE(AVG(bucket.qty), 0)::numeric AS avg_failed\n  FROM (\n    SELECT\n      date_trunc('hour', timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))) AS bucket_hour,\n      COUNT(*)::numeric AS qty\n    FROM public.gateway_webhook_events gwe\n    WHERE COALESCE(gwe.updated_at, gwe.created_at) >= CURRENT_TIMESTAMP - INTERVAL '14 days'\n      AND COALESCE(gwe.updated_at, gwe.created_at) < CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n      AND gwe.status = 'FAILED'\n      AND EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))) = EXTRACT(HOUR FROM timezone('America/Sao_Paulo', CURRENT_TIMESTAMP))\n    GROUP BY 1\n  ) AS bucket\n)\nSELECT\n  cp.current_ok,\n  hp.avg_ok,\n  cfw.current_failed,\n  hfw.avg_failed\nFROM current_payments cp\nCROSS JOIN historical_payments hp\nCROSS JOIN current_failed_webhooks cfw\nCROSS JOIN historical_failed_webhooks hfw;","options":{}},"id":"15c142ce-af9a-402c-a1d0-b9ffdd15b5ce","name":"Query Anomaly Metrics","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-768,80],"credentials":{"postgres":{"id":"FvFc8yCxaa3CkPIS","name":"Postgres account"}}},{"parameters":{"jsCode":"const row = items[0]?.json ?? {};\nconst currentOk = Number(row.current_ok ?? 0);\nconst avgOk = Number(row.avg_ok ?? 0);\nconst currentFailed = Number(row.current_failed ?? 0);\nconst avgFailed = Number(row.avg_failed ?? 0);\n\nconst alerts = [];\nif (avgOk >= 5 && currentOk < avgOk * 0.4) {\n  alerts.push(`queda anormal de pagamentos: janela atual=${currentOk}, baseline=${avgOk.toFixed(2)}`);\n}\nif (currentFailed >= 3 && currentFailed > Math.max(avgFailed * 2, 3)) {\n  alerts.push(`alta anormal de webhooks com falha: janela atual=${currentFailed}, baseline=${avgFailed.toFixed(2)}`);\n}\n\nif (alerts.length === 0) {\n  const store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n  if (store) {\n    delete store.lastAlertSignature;\n    delete store.lastAlertSentAt;\n  }\n  return [];\n}\n\nconst signature = JSON.stringify(alerts);\nconst now = Date.now();\nconst cooldownMs = 60 * 60 * 1000;\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n\nif (store) {\n  const lastSignature = String(store.lastAlertSignature ?? '');\n  const lastSentAt = Number(store.lastAlertSentAt ?? 0);\n  const withinCooldown = lastSignature === signature && lastSentAt > 0 && now - lastSentAt < cooldownMs;\n\n  if (withinCooldown) {\n    return [];\n  }\n\n  store.lastAlertSignature = signature;\n  store.lastAlertSentAt = now;\n}\n\nconst message = [\n  'Alerta FeConect: comportamento anormal detectado',\n  '',\n  ...alerts.map((line) => `- ${line}`),\n  '',\n  `metricas: pagamentos_ok_hora=${currentOk} (baseline ${avgOk.toFixed(2)}), webhooks_falhos_hora=${currentFailed} (baseline ${avgFailed.toFixed(2)})`,\n].join('\\n');\n\nreturn [{ json: { hasAlerts: true, alerts, message, metrics: row } }];"},"id":"c5b23714-8439-41bc-a80f-8db42d8051e2","name":"Detect Anomalies","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f02f2ed-8688-465f-9a71-607244cd3d23","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"d23642b9-1b86-4525-bf06-e37b1c9e0e15","name":"Has Anomaly?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,80]},{"parameters":{"chatId":"5242382463","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"id":"2ee10a60-2e22-4ed0-916e-c790e966b621","name":"Telegram Anomaly Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"055869ff-7bb6-46c2-8ab3-a37cb016291f","credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}}}],"connections":{"Every 10 Minutes":{"main":[[{"node":"Query Anomaly Metrics","type":"main","index":0}]]},"Query Anomaly Metrics":{"main":[[{"node":"Detect Anomalies","type":"main","index":0}]]},"Detect Anomalies":{"main":[[{"node":"Has Anomaly?","type":"main","index":0}]]},"Has Anomaly?":{"main":[[{"node":"Telegram Anomaly Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 10 Minutes":{"recurrenceRules":[]},"global":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6353d1d9-720a-4d9d-b571-50af5d783139","activeVersionId":null,"versionCounter":86,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T04:39:32.153Z","createdAt":"2026-04-18T04:39:32.153Z","role":"workflow:owner","workflowId":"VASP7rRXqDsSI5AC","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":"Version 6353d1d9","description":""}},{"updatedAt":"2026-04-18T06:53:27.709Z","createdAt":"2026-04-18T06:51:26.267Z","id":"jP0nvyRAOfo00000","name":"FeConect - VPS Daily Summary Telegram","description":"Resumo diario da VPS com status e metricas essenciais enviado ao Telegram.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"name":"Daily 09:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"b934d85c-30ac-4c25-b913-7e30664e8a86"},{"parameters":{"authentication":"privateKey","command":"python3 - <<'PY'\nfrom datetime import datetime\nfrom zoneinfo import ZoneInfo\nimport json\nimport os\nimport shutil\nimport subprocess\nimport time\n\nsummary = {\n    'checked_at': None,\n    'vps_status': 'ON',\n    'uptime_human': 'n/d',\n    'load_avg': [],\n    'cpu_usage_pct': None,\n    'cpu_cores': os.cpu_count() or 0,\n    'ram_used_gb': None,\n    'ram_total_gb': None,\n    'ram_usage_pct': None,\n    'swap_used_gb': None,\n    'swap_total_gb': None,\n    'swap_usage_pct': None,\n    'disk_used_gb': None,\n    'disk_total_gb': None,\n    'disk_usage_pct': None,\n    'disk_free_gb': None,\n    'disk_mount': '/',\n    'inode_usage_pct': None,\n    'docker_running_containers': 0,\n    'docker_restart_count': 0,\n    'top_processes': [],\n    'meta_error': None,\n}\n\ndef to_gb(bytes_value):\n    return round(bytes_value / (1024 ** 3), 2)\n\ntry:\n    now_local = datetime.now(ZoneInfo('America/Sao_Paulo'))\n    summary['checked_at'] = now_local.isoformat()\n\n    with open('/proc/uptime', 'r', encoding='utf-8') as fh:\n        uptime_seconds = float(fh.read().split()[0])\n    days = int(uptime_seconds // 86400)\n    hours = int((uptime_seconds % 86400) // 3600)\n    minutes = int((uptime_seconds % 3600) // 60)\n    uptime_parts = []\n    if days:\n        uptime_parts.append(f'{days}d')\n    if hours or days:\n        uptime_parts.append(f'{hours}h')\n    uptime_parts.append(f'{minutes}m')\n    summary['uptime_human'] = ' '.join(uptime_parts)\n    summary['load_avg'] = [round(value, 2) for value in os.getloadavg()]\n\n    def read_cpu_times():\n        with open('/proc/stat', 'r', encoding='utf-8') as fh:\n            return [int(value) for value in fh.readline().split()[1:]]\n\n    first = read_cpu_times()\n    time.sleep(1)\n    second = read_cpu_times()\n    idle_delta = (second[3] + second[4]) - (first[3] + first[4])\n    total_delta = sum(second) - sum(first)\n    if total_delta > 0:\n        summary['cpu_usage_pct'] = round((1 - (idle_delta / total_delta)) * 100, 2)\n\n    with open('/proc/meminfo', 'r', encoding='utf-8') as fh:\n        meminfo = {}\n        for line in fh:\n            key, raw = line.split(':', 1)\n            meminfo[key] = int(raw.strip().split()[0]) * 1024\n    mem_total = meminfo.get('MemTotal', 0)\n    mem_available = meminfo.get('MemAvailable', 0)\n    mem_used = max(mem_total - mem_available, 0)\n    summary['ram_total_gb'] = to_gb(mem_total)\n    summary['ram_used_gb'] = to_gb(mem_used)\n    if mem_total > 0:\n        summary['ram_usage_pct'] = round((mem_used / mem_total) * 100, 2)\n\n    swap_total = meminfo.get('SwapTotal', 0)\n    swap_free = meminfo.get('SwapFree', 0)\n    swap_used = max(swap_total - swap_free, 0)\n    summary['swap_total_gb'] = to_gb(swap_total)\n    summary['swap_used_gb'] = to_gb(swap_used)\n    summary['swap_usage_pct'] = round((swap_used / swap_total) * 100, 2) if swap_total > 0 else 0.0\n\n    disk = shutil.disk_usage('/')\n    summary['disk_total_gb'] = to_gb(disk.total)\n    summary['disk_used_gb'] = to_gb(disk.used)\n    summary['disk_free_gb'] = to_gb(disk.free)\n    if disk.total > 0:\n        summary['disk_usage_pct'] = round((disk.used / disk.total) * 100, 2)\n\n    inode_proc = subprocess.run(['df', '-i', '/'], capture_output=True, text=True, check=False)\n    inode_lines = [line for line in inode_proc.stdout.splitlines() if line.strip()]\n    if len(inode_lines) >= 2:\n        inode_parts = inode_lines[1].split()\n        if len(inode_parts) >= 5:\n            summary['inode_usage_pct'] = inode_parts[4]\n\n    docker_ps = subprocess.run(['docker', 'ps', '--format', '{{.Names}}|{{.Status}}'], capture_output=True, text=True, check=False)\n    running = [line.strip() for line in docker_ps.stdout.splitlines() if line.strip()]\n    summary['docker_running_containers'] = len(running)\n\n    docker_all = subprocess.run(['docker', 'ps', '-a', '--format', '{{.Names}}|{{.RunningFor}}|{{.Status}}'], capture_output=True, text=True, check=False)\n    restart_count = 0\n    for line in docker_all.stdout.splitlines():\n        if 'Restarting' in line:\n            restart_count += 1\n    summary['docker_restart_count'] = restart_count\n\n    top_proc = subprocess.run(['ps', '-eo', 'pid,comm,%cpu,%mem', '--sort=-%cpu'], capture_output=True, text=True, check=False)\n    for line in top_proc.stdout.splitlines()[1:4]:\n        parts = line.split(None, 3)\n        if len(parts) == 4:\n            summary['top_processes'].append({\n                'pid': parts[0],\n                'command': parts[1],\n                'cpu_pct': parts[2],\n                'mem_pct': parts[3],\n            })\nexcept Exception as exc:\n    summary['vps_status'] = 'OFF'\n    summary['meta_error'] = str(exc)\n\nprint(json.dumps(summary, ensure_ascii=True))\n\nPY"},"name":"Fetch VPS Metrics","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[288,0],"id":"14ffef8d-0431-4f58-91bf-d8946e3da1d3","credentials":{"sshPrivateKey":{"id":"2urEEfcr9NaOCNJN","name":"SSH Password account"}}},{"parameters":{"jsCode":"const payload = (() => {\n  try {\n    return JSON.parse(String(items[0]?.json?.stdout ?? '{}'));\n  } catch {\n    return {};\n  }\n})();\n\nconst toNumber = (value, digits = 2) => {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed.toFixed(digits) : 'n/d';\n};\nconst formatLoad = (value) => Array.isArray(value) && value.length === 3 ? value.join(' | ') : 'n/d';\nconst formatTop = (value) => Array.isArray(value) && value.length > 0\n  ? value.map((entry) => `${entry.command} pid=${entry.pid} cpu=${entry.cpu_pct}% mem=${entry.mem_pct}%`).join('; ')\n  : 'n/d';\n\nconst messageLines = [\n  'Resumo VPS FeConect',\n  '',\n  `Status da VPS: ${String(payload.vps_status ?? 'OFF').toUpperCase()}`,\n  `- checado em: ${payload.checked_at ?? 'n/d'}`,\n  `- uptime: ${payload.uptime_human ?? 'n/d'}`,\n  `- load average: ${formatLoad(payload.load_avg)}`,\n  '',\n  'Capacidade atual:',\n  `- CPU: ${toNumber(payload.cpu_usage_pct)}% em ${payload.cpu_cores ?? 'n/d'} cores`,\n  `- RAM: ${toNumber(payload.ram_used_gb)} GB / ${toNumber(payload.ram_total_gb)} GB (${toNumber(payload.ram_usage_pct)}%)`,\n  `- Swap: ${toNumber(payload.swap_used_gb)} GB / ${toNumber(payload.swap_total_gb)} GB (${toNumber(payload.swap_usage_pct)}%)`,\n  `- Disco /: ${toNumber(payload.disk_used_gb)} GB / ${toNumber(payload.disk_total_gb)} GB (${toNumber(payload.disk_usage_pct)}%)`,\n  `- Disco livre /: ${toNumber(payload.disk_free_gb)} GB | inodes usados: ${payload.inode_usage_pct ?? 'n/d'}`,\n  '',\n  'Containers e processos:',\n  `- containers Docker em execucao: ${payload.docker_running_containers ?? 0}`,\n  `- containers reiniciando: ${payload.docker_restart_count ?? 0}`,\n  `- top processos por CPU: ${formatTop(payload.top_processes)}`,\n];\n\nif (payload.meta_error) {\n  messageLines.push('', `- observacao: coleta parcial (${payload.meta_error})`);\n}\n\nreturn [{\n  json: {\n    message: messageLines.join('\\n'),\n    summary: payload,\n  },\n}];\n"},"name":"Format VPS Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,0],"id":"c4042842-eb0b-4b6a-b8a6-331937829a6b"},{"parameters":{"chatId":"=5242382463","text":"={{ $json.message }}","additionalFields":{}},"name":"Telegram VPS Summary","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[832,0],"id":"72126495-d3b4-4900-bdec-fc2a98485529","webhookId":"532eae94-03b7-40b8-845c-0706a94820e4","credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}}}],"connections":{"Daily 09:00":{"main":[[{"node":"Fetch VPS Metrics","type":"main","index":0}]]},"Fetch VPS Metrics":{"main":[[{"node":"Format VPS Message","type":"main","index":0}]]},"Format VPS Message":{"main":[[{"node":"Telegram VPS Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Daily 09:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"675ddb60-2d34-4995-8f56-e874637cc24c","activeVersionId":"675ddb60-2d34-4995-8f56-e874637cc24c","versionCounter":17,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T06:51:26.272Z","createdAt":"2026-04-18T06:51:26.272Z","role":"workflow:owner","workflowId":"jP0nvyRAOfo00000","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":"Version 675ddb60","description":""}},{"updatedAt":"2026-04-18T17:44:13.000Z","createdAt":"2026-04-18T15:58:53.534Z","id":"dvnOptGemini240001","name":"Daily Dev News AI + Summary (Gemini) - Optimized","description":"Versao otimizada para no maximo 2 chamadas ao Gemini por execucao: 1 para selecao/deduplicacao e 1 para compor o digest final.","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":9}]}},"name":"Daily Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[1200,320],"id":"98c145a0-b961-401b-a29b-559cc3e24458"},{"parameters":{"url":"https://hnrss.org/frontpage","options":{}},"name":"Hacker News","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[1420,180],"id":"a935eb07-4481-495d-962f-a693f967c12e"},{"parameters":{"url":"https://news.google.com/rss/search?q=python+backend+ai+data+science","options":{}},"name":"Google News","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[1420,460],"id":"515b1260-6dcb-47b2-976c-c7e063521329"},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1640,320],"id":"3eac3909-7aeb-45f3-85fe-36aa1f52d5ed"},{"parameters":{"functionCode":"const keywords = ['ai','machine learning','data','backend','api','python','llm','rag','architecture','microservices','cloud','agent','agents','openai','gemini','vector','database','postgres','redis','docker','kubernetes'];\nconst now = Date.now();\nconst maxCandidates = 15;\nconst byKey = new Map();\n\nfor (const item of items) {\n  const title = String(item.json.title || '').trim();\n  const snippet = String(item.json.contentSnippet || item.json.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  const link = String(item.json.link || '').trim();\n  const source = String(item.json.creator || item.json.source || item.json.feedTitle || item.json.isoDate || 'RSS').trim();\n  const isoDate = String(item.json.isoDate || item.json.pubDate || '').trim();\n  const text = `${title} ${snippet}`.toLowerCase();\n\n  if (!title || !link) {\n    continue;\n  }\n\n  const keywordHits = keywords.filter((keyword) => text.includes(keyword)).length;\n  if (keywordHits === 0) {\n    continue;\n  }\n\n  const publishedTs = isoDate ? Date.parse(isoDate) : NaN;\n  let score = keywordHits * 2;\n  if (Number.isFinite(publishedTs)) {\n    const ageHours = (now - publishedTs) / (1000 * 60 * 60);\n    if (ageHours <= 24) score += 4;\n    else if (ageHours <= 72) score += 2;\n  }\n  if (/hacker news/i.test(link) || /ycombinator/i.test(link) || /hnrss/i.test(link)) score += 1;\n  if (/openai|gemini|anthropic|postgres|redis|docker|kubernetes|python|backend|llm|rag/i.test(text)) score += 2;\n\n  const normalizedTitle = title.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n  const dedupeKey = link || normalizedTitle;\n  const candidate = {\n    title,\n    snippet: snippet.slice(0, 500),\n    link,\n    source,\n    isoDate,\n    heuristicScore: score,\n  };\n\n  const previous = byKey.get(dedupeKey);\n  if (!previous || candidate.heuristicScore > previous.heuristicScore || candidate.snippet.length > previous.snippet.length) {\n    byKey.set(dedupeKey, candidate);\n  }\n}\n\nconst candidates = [...byKey.values()]\n  .sort((a, b) => {\n    if (b.heuristicScore !== a.heuristicScore) return b.heuristicScore - a.heuristicScore;\n    return String(b.isoDate).localeCompare(String(a.isoDate));\n  })\n  .slice(0, maxCandidates)\n  .map((item, index) => ({\n    rank_preliminar: index + 1,\n    titulo: item.title,\n    descricao: item.snippet,\n    link: item.link,\n    fonte: item.source,\n    publicado_em: item.isoDate,\n    score_heuristico: item.heuristicScore,\n  }));\n\nif (candidates.length === 0) {\n  return [];\n}\n\nconst selectionPrompt = [\n  'Voce e um editor tecnico de newsletter para devs.',\n  'Recebera uma lista pre-filtrada de noticias de tecnologia.',\n  'Tarefas:',\n  '1. Deduplicar temas parecidos.',\n  '2. Escolher no maximo 6 noticias.',\n  '3. Priorizar relevancia pratica para backend, IA aplicada, dados, arquitetura e tooling.',\n  '4. Classificar cada item como aprendizado ou atualizacao.',\n  '5. Gerar um resumo curto e objetivo em portugues para cada item.',\n  'Use somente os dados recebidos. Nao invente fatos.',\n  'Responda estritamente em JSON valido com esta estrutura:',\n  '{\"selected\":[{\"titulo\":\"...\",\"categoria\":\"aprendizado|atualizacao\",\"resumo\":\"...\",\"link\":\"...\",\"fonte\":\"...\",\"score\":1}],\"observacao\":\"...\"}',\n  '',\n  'Noticias:',\n  JSON.stringify(candidates),\n].join('\\n');\n\nreturn [{\n  json: {\n    candidateCount: candidates.length,\n    candidates,\n    selectionPrompt,\n  },\n}];"},"name":"Prepare Candidate Batch","type":"n8n-nodes-base.function","typeVersion":1,"position":[1880,320],"id":"1e97b0e3-94d1-4033-addb-3f94465ed324"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{$env.DEV_NEWS_GOOGLE_API_KEY || $env.GOOGLE_API_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { contents: [{ parts: [{ text: $json.selectionPrompt }] }], generationConfig: { temperature: 0.2, responseMimeType: 'application/json' } } }}","options":{}},"name":"Gemini Select Stories","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2140,320],"id":"5a5ad640-b6dc-4aad-b5d0-e336a35ba8fb"},{"parameters":{"functionCode":"const getFallbackCandidates = () => {\n  try {\n    const previousItems = $items('Prepare Candidate Batch', 0, 0);\n    return Array.isArray(previousItems?.[0]?.json?.candidates) ? previousItems[0].json.candidates : [];\n  } catch {\n    return [];\n  }\n};\n\nconst fallbackCandidates = getFallbackCandidates();\nconst raw = String(items[0].json.candidates?.[0]?.content?.parts?.[0]?.text || '');\nconst clean = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch {\n  parsed = { selected: [] };\n}\n\nlet selected = Array.isArray(parsed.selected) ? parsed.selected : [];\nselected = selected\n  .filter((item) => item && item.titulo && item.link)\n  .slice(0, 6)\n  .map((item) => ({\n    titulo: String(item.titulo).trim(),\n    categoria: String(item.categoria || 'atualizacao').trim().toLowerCase() === 'aprendizado' ? 'aprendizado' : 'atualizacao',\n    resumo: String(item.resumo || '').trim().slice(0, 280),\n    link: String(item.link).trim(),\n    fonte: String(item.fonte || 'RSS').trim(),\n    score: Number(item.score) || 5,\n  }));\n\nif (selected.length === 0) {\n  selected = fallbackCandidates.slice(0, 5).map((item, index) => ({\n    titulo: String(item.titulo || item.title || '').trim(),\n    categoria: index < 2 ? 'aprendizado' : 'atualizacao',\n    resumo: String(item.descricao || item.snippet || '').trim().slice(0, 220),\n    link: String(item.link || '').trim(),\n    fonte: String(item.fonte || item.source || 'RSS').trim(),\n    score: Number(item.score_heuristico) || 5,\n  })).filter((item) => item.titulo && item.link);\n}\n\nif (selected.length === 0) {\n  return [];\n}\n\nconst digestPrompt = [\n  'Voce escreve um resumo diario tecnico para Telegram.',\n  'Use tom direto, util e curto.',\n  'Nao invente detalhes.',\n  'Estruture a resposta em portugues.',\n  'Use exatamente o titulo Resumo Diario na primeira linha.',\n  'Separe em duas secoes: Aprendizado e Atualizacoes.',\n  'Use no maximo 1-2 linhas por noticia.',\n  'Em cada noticia, use este bloco na ordem exata: titulo, resumo, linha Link:, URL em linha separada e uma linha em branco extra antes da proxima noticia.',\n  'Finalize com uma linha de fechamento curta.',\n  'Responda estritamente em JSON valido no formato {\"text\":\"...\"}.',\n  '',\n  'Noticias selecionadas:',\n  JSON.stringify(selected),\n].join('\\n');\n\nreturn [{\n  json: {\n    selected,\n    selectedCount: selected.length,\n    digestPrompt,\n  },\n}];"},"name":"Parse Selected Stories","type":"n8n-nodes-base.function","typeVersion":1,"position":[2400,320],"id":"2b4a27c1-e810-41c4-839b-40a5d7ce6ee4"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{$env.DEV_NEWS_GOOGLE_API_KEY || $env.GOOGLE_API_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { contents: [{ parts: [{ text: $json.digestPrompt }] }], generationConfig: { temperature: 0.3, responseMimeType: 'application/json' } } }}","options":{}},"name":"Gemini Compose Digest","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2660,320],"id":"907a9232-94e1-4795-ac7c-9f94b0fbbc2f"},{"parameters":{"functionCode":"const TELEGRAM_MAX_LENGTH = 3900;\nconst TRUNCATION_SUFFIX = '\\n\\n<i>...mensagem cortada para caber no Telegram.</i>';\n\nconst escapeHtml = (value) => String(value || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;');\n\nconst decodeHtmlEntities = (value) => String(value || '')\n  .replace(/&quot;/g, '\"')\n  .replace(/&gt;/g, '>')\n  .replace(/&lt;/g, '<')\n  .replace(/&amp;/g, '&');\n\nconst getVisibleLength = (value) => decodeHtmlEntities(String(value || '').replace(/<[^>]+>/g, '')).length;\nconst getRawLength = (value) => String(value || '').length;\nconst fitsTelegram = (value, maxLength = TELEGRAM_MAX_LENGTH) => getVisibleLength(value) <= maxLength && getRawLength(value) <= maxLength;\n\nconst buildTelegramLink = (url, label = 'Abrir noticia') => {\n  const safeUrl = escapeHtml(url);\n  const safeLabel = escapeHtml(label);\n  return `<a href=\\\"${safeUrl}\\\">${safeLabel}</a>`;\n};\n\nconst linkify = (value) => escapeHtml(value).replace(/(https?:\\/\\/[^\\s<]+)/g, (url) => buildTelegramLink(url, 'link'));\n\nconst parseGeminiDigest = () => {\n  const raw = String(items[0].json.candidates?.[0]?.content?.parts?.[0]?.text || '');\n  const clean = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n\n  if (!clean) {\n    return '';\n  }\n\n  try {\n    const parsed = JSON.parse(clean);\n    if (typeof parsed.text === 'string' && parsed.text.trim()) {\n      return parsed.text.trim();\n    }\n  } catch {\n    // If Gemini returned plain text instead of JSON, keep the sanitized body below.\n  }\n\n  return clean;\n};\n\nconst getSelected = () => {\n  try {\n    const previousItems = $items('Parse Selected Stories', 0, 0);\n    return Array.isArray(previousItems?.[0]?.json?.selected) ? previousItems[0].json.selected : [];\n  } catch {\n    return [];\n  }\n};\n\nconst renderDigestText = (value) => String(value || '')\n  .split(/\\r?\\n/)\n  .map((line) => {\n    const trimmed = line.trim();\n    if (!trimmed) return '';\n    if (/^Resumo Diario:?$/i.test(trimmed) || /^Resumo Diário:?$/i.test(trimmed)) return '<b>Resumo Diário</b>';\n    if (/^Aprendizado:?$/i.test(trimmed)) return '<b>Aprendizado</b>';\n    if (/^Atualizacoes:?$/i.test(trimmed) || /^Atualizações:?$/i.test(trimmed)) return '<b>Atualizacoes</b>';\n    return linkify(line);\n  })\n  .join('\\n');\n\nconst truncateTelegramHtml = (value, maxLength = TELEGRAM_MAX_LENGTH) => {\n  const html = String(value || '').trim();\n\n  if (!html || fitsTelegram(html, maxLength)) {\n    return html;\n  }\n\n  const safeLimit = Math.max(maxLength - Math.max(getVisibleLength(TRUNCATION_SUFFIX), getRawLength(TRUNCATION_SUFFIX)), 0);\n  const lines = html.split('\\n');\n  const kept = [];\n\n  for (const line of lines) {\n    const candidate = kept.length ? `${kept.join('\\n')}\\n${line}` : line;\n    if (!fitsTelegram(candidate, safeLimit)) {\n      break;\n    }\n    kept.push(line);\n  }\n\n  let truncated = kept.join('\\n').replace(/\\n+$/g, '');\n\n  if (!truncated) {\n    const plainText = decodeHtmlEntities(html.replace(/<[^>]+>/g, '')).slice(0, Math.max(safeLimit - 3, 0)).trimEnd();\n    truncated = escapeHtml(plainText);\n  }\n\n  const finalText = `${truncated}${TRUNCATION_SUFFIX}`;\n  return fitsTelegram(finalText, maxLength) ? finalText : escapeHtml(decodeHtmlEntities(truncated).slice(0, Math.max(maxLength - 64, 0)).trimEnd()) + TRUNCATION_SUFFIX;\n};\n\nconst selected = getSelected();\nconst aprendizado = selected.filter((item) => item.categoria === 'aprendizado');\nconst atualizacoes = selected.filter((item) => item.categoria !== 'aprendizado');\n\nconst formatItem = (item) => {\n  const safeTitle = escapeHtml(item.titulo);\n  const safeResumo = escapeHtml(item.resumo);\n\n  return [\n    `- ${safeTitle}`,\n    safeResumo,\n    'Link:',\n    buildTelegramLink(item.link),\n  ].filter(Boolean).join('\\n');\n};\n\nconst buildSection = (title, rows) => {\n  if (!rows.length) return '';\n  return [`<b>${escapeHtml(title)}</b>`, '', rows.map(formatItem).join('\\n\\n\\n\\n')].join('\\n');\n};\n\nconst fallbackText = [\n  '<b>Resumo Diário</b>',\n  '',\n  buildSection('Aprendizado', aprendizado),\n  buildSection('Atualizacoes', atualizacoes),\n  'Feito com curadoria em lote para reduzir custo de IA.',\n].filter(Boolean).join('\\n\\n');\n\nconst geminiDigest = parseGeminiDigest();\nconst text = truncateTelegramHtml(geminiDigest ? renderDigestText(geminiDigest) : fallbackText);\n\nreturn [{ json: { text } }];"},"name":"Parse Final Digest","type":"n8n-nodes-base.function","typeVersion":1,"position":[2920,320],"id":"3d18434e-41c2-4f60-87dd-626a9b0eb2de"},{"parameters":{"chatId":"={{$env.DEV_NEWS_TELEGRAM_CHAT_ID || $env.TELEGRAM_CHAT_ID}}","text":"={{$json.text}}","additionalFields":{"parseMode":"HTML"}},"name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[3160,320],"credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}},"id":"527f491f-c359-4d3a-87bb-e899ecfff764"}],"connections":{"Daily Cron":{"main":[[{"node":"Hacker News","type":"main","index":0},{"node":"Google News","type":"main","index":0}]]},"Hacker News":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google News":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Prepare Candidate Batch","type":"main","index":0}]]},"Prepare Candidate Batch":{"main":[[{"node":"Gemini Select Stories","type":"main","index":0}]]},"Gemini Select Stories":{"main":[[{"node":"Parse Selected Stories","type":"main","index":0}]]},"Parse Selected Stories":{"main":[[{"node":"Gemini Compose Digest","type":"main","index":0}]]},"Gemini Compose Digest":{"main":[[{"node":"Parse Final Digest","type":"main","index":0}]]},"Parse Final Digest":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6b2ad16b-64ee-43ed-8c55-13835fc1e586","activeVersionId":"6b2ad16b-64ee-43ed-8c55-13835fc1e586","versionCounter":34,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T15:58:53.539Z","createdAt":"2026-04-18T15:58:53.539Z","role":"workflow:owner","workflowId":"dvnOptGemini240001","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-18T16:23:58.648Z","createdAt":"2026-04-18T16:18:02.173Z","id":"ctrHealthTg240001","name":"Docker Container Health Alerts Telegram","description":"Monitora todos os containers Docker via SSH a cada 10 minutos e envia alerta no Telegram somente quando algum container estiver inativo ou unhealthy. O cooldown por servico e configuravel via env CONTAINER_ALERT_COOLDOWN_HOURS.","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 * * * *"}]}},"name":"Every 10 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-768,288],"id":"56f383dc-3be0-4088-a17f-648ea2231cd3"},{"parameters":{"authentication":"privateKey","command":"python3 - <<'PY'\nfrom datetime import datetime\nfrom zoneinfo import ZoneInfo\nimport json\nimport subprocess\n\nresult = {\n    'checked_at': datetime.now(ZoneInfo('America/Sao_Paulo')).isoformat(),\n    'containers': [],\n    'meta_error': None,\n}\n\ntry:\n    ids_proc = subprocess.run(['docker', 'ps', '-aq'], capture_output=True, text=True, check=False)\n    ids = [line.strip() for line in ids_proc.stdout.splitlines() if line.strip()]\n\n    for cid in ids:\n        inspect_proc = subprocess.run(['docker', 'inspect', cid], capture_output=True, text=True, check=False)\n        if inspect_proc.returncode != 0:\n            result['containers'].append({\n                'name': cid[:12],\n                'id': cid[:12],\n                'status': 'inspect_error',\n                'running': False,\n                'health': None,\n                'started_at': None,\n                'finished_at': None,\n                'exit_code': None,\n                'error': inspect_proc.stderr.strip() or 'docker inspect failed',\n                'compose_project': '',\n                'compose_service': '',\n                'image': '',\n            })\n            continue\n\n        raw = json.loads(inspect_proc.stdout)[0]\n        state = raw.get('State') or {}\n        config = raw.get('Config') or {}\n        labels = config.get('Labels') or {}\n        name = (raw.get('Name') or '').lstrip('/') or cid[:12]\n\n        result['containers'].append({\n            'name': name,\n            'id': cid[:12],\n            'status': state.get('Status') or 'unknown',\n            'running': bool(state.get('Running')),\n            'health': (state.get('Health') or {}).get('Status'),\n            'started_at': state.get('StartedAt'),\n            'finished_at': state.get('FinishedAt'),\n            'exit_code': state.get('ExitCode'),\n            'error': state.get('Error') or '',\n            'compose_project': labels.get('com.docker.compose.project') or '',\n            'compose_service': labels.get('com.docker.compose.service') or '',\n            'image': config.get('Image') or '',\n        })\n\n    result['containers'].sort(key=lambda entry: entry['name'])\nexcept Exception as exc:\n    result['meta_error'] = str(exc)\n\nprint(json.dumps(result, ensure_ascii=True))\nPY"},"name":"Inspect Docker Containers via SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-480,288],"id":"1a407506-68fa-48cb-9434-869314681c66","credentials":{"sshPrivateKey":{"id":"2urEEfcr9NaOCNJN","name":"SSH Password account"}}},{"parameters":{"jsCode":"const payload = (() => {\n  try {\n    return JSON.parse(String(items[0]?.json?.stdout ?? '{}'));\n  } catch (error) {\n    return {\n      checked_at: null,\n      containers: [],\n      meta_error: `invalid_json:${error.message}`,\n    };\n  }\n})();\n\nconst env = typeof process !== 'undefined' && process?.env ? process.env : {};\nconst cooldownHoursRaw = Number(env.CONTAINER_ALERT_COOLDOWN_HOURS ?? 5);\nconst cooldownHours = Number.isFinite(cooldownHoursRaw) && cooldownHoursRaw > 0 ? cooldownHoursRaw : 5;\nconst cooldownMs = cooldownHours * 60 * 60 * 1000;\nconst now = Date.now();\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\nconst state = store?.containerAlertState && typeof store.containerAlertState === 'object'\n  ? store.containerAlertState\n  : {};\nconst nextState = {};\nconst dueAlerts = [];\n\nconst buildKey = (container) => {\n  if (container.compose_project && container.compose_service) {\n    return `${container.compose_project}/${container.compose_service}`;\n  }\n  return String(container.name || container.id || 'unknown');\n};\n\nconst buildDisplay = (container) => {\n  if (container.compose_project && container.compose_service) {\n    return `${container.compose_project}/${container.compose_service} (${container.name})`;\n  }\n  return String(container.name || container.id || 'container sem nome');\n};\n\nconst getInactiveReason = (container) => {\n  const status = String(container.status ?? 'unknown').toLowerCase();\n  const health = container.health == null ? '' : String(container.health).toLowerCase();\n  const exitCode = container.exit_code;\n  const error = String(container.error ?? '').trim();\n\n  if (!container.running) {\n    const details = [`status=${status || 'unknown'}`];\n    if (exitCode !== null && exitCode !== undefined && status !== 'running') {\n      details.push(`exitCode=${exitCode}`);\n    }\n    if (error) {\n      details.push(`erro=${error}`);\n    }\n    return details.join(' | ');\n  }\n\n  if (health === 'unhealthy') {\n    return 'health=unhealthy';\n  }\n\n  if (['dead', 'exited', 'paused', 'restarting', 'removing'].includes(status)) {\n    return `status=${status}`;\n  }\n\n  return '';\n};\n\nfor (const container of Array.isArray(payload.containers) ? payload.containers : []) {\n  const key = buildKey(container);\n  const display = buildDisplay(container);\n  const reason = getInactiveReason(container);\n\n  if (!reason) {\n    continue;\n  }\n\n  const previous = state[key] && typeof state[key] === 'object' ? state[key] : null;\n  const lastSentAt = Number(previous?.lastSentAt ?? 0);\n  const shouldAlert = !lastSentAt || now - lastSentAt >= cooldownMs;\n\n  nextState[key] = {\n    display,\n    reason,\n    lastSentAt: shouldAlert ? now : lastSentAt,\n  };\n\n  if (shouldAlert) {\n    dueAlerts.push({\n      display,\n      reason,\n      image: String(container.image ?? ''),\n      started_at: container.started_at,\n      finished_at: container.finished_at,\n    });\n  }\n}\n\nif (payload.meta_error) {\n  const key = '__collector__';\n  const display = 'coleta_docker';\n  const reason = String(payload.meta_error);\n  const previous = state[key] && typeof state[key] === 'object' ? state[key] : null;\n  const lastSentAt = Number(previous?.lastSentAt ?? 0);\n  const shouldAlert = !lastSentAt || now - lastSentAt >= cooldownMs;\n\n  nextState[key] = {\n    display,\n    reason,\n    lastSentAt: shouldAlert ? now : lastSentAt,\n  };\n\n  if (shouldAlert) {\n    dueAlerts.push({\n      display,\n      reason,\n      image: '',\n      started_at: null,\n      finished_at: null,\n    });\n  }\n}\n\nif (store) {\n  store.containerAlertState = nextState;\n}\n\nif (dueAlerts.length === 0) {\n  return [];\n}\n\nconst lines = [\n  'Alerta de containers',\n  '',\n  `Checado em: ${payload.checked_at ?? 'n/d'}`,\n  `Cooldown atual: ${cooldownHours} hora(s)`,\n  '',\n  'Containers com problema:',\n  ...dueAlerts.map((alert) => {\n    const details = [\n      `- ${alert.display}`,\n      `  motivo: ${alert.reason}`,\n    ];\n    if (alert.image) {\n      details.push(`  image: ${alert.image}`);\n    }\n    if (alert.started_at) {\n      details.push(`  started_at: ${alert.started_at}`);\n    }\n    if (alert.finished_at && alert.finished_at !== '0001-01-01T00:00:00Z') {\n      details.push(`  finished_at: ${alert.finished_at}`);\n    }\n    return details.join('\\n');\n  }),\n].join('\\n');\n\nreturn [{\n  json: {\n    hasAlerts: true,\n    cooldownHours,\n    checked_at: payload.checked_at,\n    inactiveCount: dueAlerts.length,\n    alerts: dueAlerts,\n    message: lines,\n  },\n}];"},"name":"Build Inactive Container Alerts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,288],"id":"51e575c6-7159-4579-87a7-01fbb7d17eb1"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasAlerts === true }}","operation":"isTrue"}]},"options":{}},"name":"Has Alerts?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,288],"id":"ee906402-96da-4c29-9826-6b8f8ac94008"},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"name":"Telegram Container Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[352,208],"id":"6603f7d5-dcae-45f8-be44-a2f48a4d394f","webhookId":"1c561b60-8732-47d2-be2a-83ffb1f092ea","credentials":{"telegramApi":{"id":"pk7OK9vR8FHBwAYj","name":"Telegram account"}}}],"connections":{"Every 10 Minutes":{"main":[[{"node":"Inspect Docker Containers via SSH","type":"main","index":0}]]},"Inspect Docker Containers via SSH":{"main":[[{"node":"Build Inactive Container Alerts","type":"main","index":0}]]},"Build Inactive Container Alerts":{"main":[[{"node":"Has Alerts?","type":"main","index":0}]]},"Has Alerts?":{"main":[[{"node":"Telegram Container Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Every 10 Minutes":{"recurrenceRules":[]},"global":{"containerAlertState":{}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c49f3ac9-c0ce-4df5-b329-17c8c15b7ca5","activeVersionId":"c49f3ac9-c0ce-4df5-b329-17c8c15b7ca5","versionCounter":27,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-18T16:18:02.179Z","createdAt":"2026-04-18T16:18:02.179Z","role":"workflow:owner","workflowId":"ctrHealthTg240001","projectId":"KygIOjXIXgp0a60A","project":{"updatedAt":"2026-04-18T03:20:33.208Z","createdAt":"2026-04-18T03:15:32.048Z","id":"KygIOjXIXgp0a60A","name":"Pedro Duarte <pedroaugustoaduarte@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"857c2513-a147-4a1e-8c4d-bb8c11216739"}}],"versionMetadata":{"name":"Version c49f3ac9","description":""}}]