Chat with a database using AI.json
[
  {
    "updatedAt": "2026-04-27T05:12:33.231Z",
    "createdAt": "2026-04-27T03:40:00.589Z",
    "id": "S4kpRhwJWjREFlCp",
    "name": "Chat with a database using AI",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "channel_post"
          ],
          "additionalFields": {}
        },
        "id": "74b0bde1-86fd-47a8-b6e1-24f82a33fb47",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1,
        "position": [
          -96,
          -96
        ],
        "webhookId": "c102c542-e9cd-4cfe-992b-dae28442d3b0",
        "credentials": {
          "telegramApi": {
            "id": "FWUwWMyPu0F0MTjw",
            "name": "Telegram Feconect"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.channel_post.text }}",
          "options": {
            "systemMessage": "Você é um assistente que consulta banco de dados PostgreSQL. Sempre que possível, gere queries SQL corretas e use a ferramenta disponível. Nunca invente dados."
          }
        },
        "id": "19ca7e58-0b67-46e9-a609-6cb35888a752",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          304,
          -96
        ]
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.channel_post.chat.id }}"
        },
        "id": "da588c20-16c4-4a6d-ae89-5d20f7b730a7",
        "name": "Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          304,
          112
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "openrouter/free",
            "mode": ""
          },
          "options": {
            "temperature": 0
          }
        },
        "id": "5a04607d-1f8c-4deb-9f68-bea1af14d05d",
        "name": "OpenRouter Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          112,
          112
        ],
        "credentials": {
          "openAiApi": {
            "id": "eDymqKKw1WNIWIc5",
            "name": "OpenRouter Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $fromAI('sql_statement') }}",
          "options": {}
        },
        "id": "398e83cf-0efc-4452-b129-1d97ba4eb36f",
        "name": "Postgres Tool",
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          512,
          112
        ],
        "credentials": {
          "postgres": {
            "id": "cIQ4egbpB84tOCMr",
            "name": "Postgres FeConect"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.channel_post.chat.id }}",
          "text": "={{ $json.output.replace(/[*_`\\[\\]()~>#+\\-=|{}.!]/g, \"\") }}",
          "additionalFields": {}
        },
        "id": "42b68ed0-b668-4bec-9782-dee8531ae489",
        "name": "Send Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          704,
          -96
        ],
        "webhookId": "dcfcbee1-50d4-4de6-be13-25f848f64325",
        "credentials": {
          "telegramApi": {
            "id": "FWUwWMyPu0F0MTjw",
            "name": "Telegram Feconect"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateId": "2090",
      "templateCredsSetupCompleted": true,
      "instanceId": "640e2b64548de126c4bfd6524a25adc96a52abe563e283d5677cde8c544e242f"
    },
    "pinData": {},
    "versionId": "32fcae73-aed9-405c-a1d7-2e3f0949478f",
    "activeVersionId": "8eca2462-0e0a-437f-8bf3-dc9fd08927f1",
    "versionCounter": 27,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-27T03:40:00.594Z",
        "createdAt": "2026-04-27T03:40:00.594Z",
        "role": "workflow:owner",
        "workflowId": "S4kpRhwJWjREFlCp",
        "projectId": "PTPubzEf62cPswRq",
        "project": {
          "updatedAt": "2026-04-27T03:37:44.916Z",
          "createdAt": "2026-04-27T03:33:20.870Z",
          "id": "PTPubzEf62cPswRq",
          "name": "Pedro Duarte <pedroaugustoaduarte@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ae62cd26-0424-446d-bf3e-1e703e78fa8b"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
