container-health-telegram-alerts.json
[
  {
    "id": "ctrHealthTg240001",
    "name": "Docker Container Health Alerts Telegram",
    "description": "Monitora todos os containers Docker via SSH a cada 10 minutos e envia alerta no Telegram quando algum container estiver inativo, unhealthy ou quando o ping HTTP configurado retornar status diferente de 200. O cooldown por servico e configuravel via env CONTAINER_ALERT_COOLDOWN_HOURS.",
    "active": false,
    "isArchived": false,   
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/10 * * * *"
              }
            ]
          }
        },
        "name": "Every 10 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -760,
          280
        ]
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "python3 - <<'PY'\nfrom datetime import datetime\nfrom zoneinfo import ZoneInfo\nimport json\nimport subprocess\n\nresult = {\n    'checked_at': datetime.now(ZoneInfo('America/Sao_Paulo')).isoformat(),\n    'containers': [],\n    'meta_error': None,\n}\n\ntry:\n    ids_proc = subprocess.run(['docker', 'ps', '-aq'], capture_output=True, text=True, check=False)\n    ids = [line.strip() for line in ids_proc.stdout.splitlines() if line.strip()]\n\n    for cid in ids:\n        inspect_proc = subprocess.run(['docker', 'inspect', cid], capture_output=True, text=True, check=False)\n        if inspect_proc.returncode != 0:\n            result['containers'].append({\n                'name': cid[:12],\n                'id': cid[:12],\n                'status': 'inspect_error',\n                'running': False,\n                'health': None,\n                'started_at': None,\n                'finished_at': None,\n                'exit_code': None,\n                'error': inspect_proc.stderr.strip() or 'docker inspect failed',\n                'compose_project': '',\n                'compose_service': '',\n                'image': '',\n            })\n            continue\n\n        raw = json.loads(inspect_proc.stdout)[0]\n        state = raw.get('State') or {}\n        config = raw.get('Config') or {}\n        labels = config.get('Labels') or {}\n        name = (raw.get('Name') or '').lstrip('/') or cid[:12]\n\n        result['containers'].append({\n            'name': name,\n            'id': cid[:12],\n            'status': state.get('Status') or 'unknown',\n            'running': bool(state.get('Running')),\n            'health': (state.get('Health') or {}).get('Status'),\n            'started_at': state.get('StartedAt'),\n            'finished_at': state.get('FinishedAt'),\n            'exit_code': state.get('ExitCode'),\n            'error': state.get('Error') or '',\n            'compose_project': labels.get('com.docker.compose.project') or '',\n            'compose_service': labels.get('com.docker.compose.service') or '',\n            'image': config.get('Image') or '',\n        })\n\n    result['containers'].sort(key=lambda entry: entry['name'])\nexcept Exception as exc:\n    result['meta_error'] = str(exc)\n\nprint(json.dumps(result, ensure_ascii=True))\nPY"
        },
        "name": "Inspect Docker Containers via SSH",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -480,
          280
        ]
      },
      {
        "parameters": {
          "jsCode": "const payload = (() => {\n  try {\n    return JSON.parse(String(items[0]?.json?.stdout ?? '{}'));\n  } catch (error) {\n    return {\n      checked_at: null,\n      containers: [],\n      meta_error: `invalid_json:${error.message}`,\n    };\n  }\n})();\n\nconst env = typeof process !== 'undefined' && process?.env ? process.env : {};\nconst cooldownHoursRaw = Number(env.CONTAINER_ALERT_COOLDOWN_HOURS ?? 5);\nconst cooldownHours = Number.isFinite(cooldownHoursRaw) && cooldownHoursRaw > 0 ? cooldownHoursRaw : 5;\nconst cooldownMs = cooldownHours * 60 * 60 * 1000;\nconst pingTimeoutRaw = Number(env.CONTAINER_PING_TIMEOUT_MS ?? 10000);\nconst pingTimeoutMs = Number.isFinite(pingTimeoutRaw) && pingTimeoutRaw > 0 ? pingTimeoutRaw : 10000;\nconst now = Date.now();\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\nconst state = store?.containerAlertState && typeof store.containerAlertState === 'object'\n  ? store.containerAlertState\n  : {};\nconst nextState = {};\nconst dueAlerts = [];\n\nconst parsePingTargets = () => {\n  const raw = String(env.CONTAINER_PING_TARGETS ?? '').trim();\n  if (!raw) {\n    return { targets: {}, error: null };\n  }\n\n  try {\n    const parsed = JSON.parse(raw);\n    if (!parsed || typeof parsed !== 'object' || Array.isArray(parsed)) {\n      return { targets: {}, error: 'CONTAINER_PING_TARGETS deve ser um objeto JSON' };\n    }\n\n    const entries = Object.entries(parsed)\n      .filter(([key, value]) => String(key).trim() && typeof value === 'string' && value.trim())\n      .reduce((acc, [key, value]) => {\n        acc[String(key).trim()] = value.trim();\n        return acc;\n      }, {});\n\n    return { targets: entries, error: null };\n  } catch (error) {\n    return { targets: {}, error: `CONTAINER_PING_TARGETS invalido: ${error.message}` };\n  }\n};\n\nconst pingConfig = parsePingTargets();\n\nconst buildKey = (container) => {\n  if (container.compose_project && container.compose_service) {\n    return `${container.compose_project}/${container.compose_service}`;\n  }\n  return String(container.name || container.id || 'unknown');\n};\n\nconst buildDisplay = (container) => {\n  if (container.compose_project && container.compose_service) {\n    return `${container.compose_project}/${container.compose_service} (${container.name})`;\n  }\n  return String(container.name || container.id || 'container sem nome');\n};\n\nconst resolvePingTarget = (container) => {\n  const keys = [];\n  if (container.compose_project && container.compose_service) {\n    keys.push(`${container.compose_project}/${container.compose_service}`);\n  }\n  if (container.compose_service) {\n    keys.push(String(container.compose_service));\n  }\n  if (container.name) {\n    keys.push(String(container.name));\n  }\n\n  for (const key of keys) {\n    if (pingConfig.targets[key]) {\n      return pingConfig.targets[key];\n    }\n  }\n\n  return '';\n};\n\nconst getInactiveReason = (container) => {\n  const status = String(container.status ?? 'unknown').toLowerCase();\n  const health = container.health == null ? '' : String(container.health).toLowerCase();\n  const exitCode = container.exit_code;\n  const error = String(container.error ?? '').trim();\n\n  if (!container.running) {\n    const details = [`status=${status || 'unknown'}`];\n    if (exitCode !== null && exitCode !== undefined && status !== 'running') {\n      details.push(`exitCode=${exitCode}`);\n    }\n    if (error) {\n      details.push(`erro=${error}`);\n    }\n    return details.join(' | ');\n  }\n\n  if (health === 'unhealthy') {\n    return 'health=unhealthy';\n  }\n\n  if (['dead', 'exited', 'paused', 'restarting', 'removing'].includes(status)) {\n    return `status=${status}`;\n  }\n\n  return '';\n};\n\nconst runPingCheck = async (url) => {\n  const controller = typeof AbortController !== 'undefined' ? new AbortController() : null;\n  const timeout = controller ? setTimeout(() => controller.abort(), pingTimeoutMs) : null;\n  const startedAt = Date.now();\n\n  try {\n    const response = await fetch(url, {\n      method: 'GET',\n      redirect: 'follow',\n      signal: controller?.signal,\n      headers: {\n        Accept: 'application/json,text/plain,*/*',\n        'User-Agent': 'n8n-container-health-alerts/1.0',\n      },\n    });\n    const latencyMs = Date.now() - startedAt;\n    return {\n      ok: response.status === 200,\n      status: response.status,\n      latencyMs,\n      error: response.status === 200 ? null : `ping_http_status=${response.status}`,\n    };\n  } catch (error) {\n    const latencyMs = Date.now() - startedAt;\n    const message = error?.name === 'AbortError'\n      ? `ping_timeout>${pingTimeoutMs}ms`\n      : `ping_erro=${error?.message || String(error)}`;\n    return {\n      ok: false,\n      status: null,\n      latencyMs,\n      error: message,\n    };\n  } finally {\n    if (timeout) {\n      clearTimeout(timeout);\n    }\n  }\n};\n\nconst registerAlert = (key, display, reason, extra = {}) => {\n  const previous = state[key] && typeof state[key] === 'object' ? state[key] : null;\n  const lastSentAt = Number(previous?.lastSentAt ?? 0);\n  const shouldAlert = !lastSentAt || now - lastSentAt >= cooldownMs;\n\n  nextState[key] = {\n    display,\n    reason,\n    lastSentAt: shouldAlert ? now : lastSentAt,\n  };\n\n  if (shouldAlert) {\n    dueAlerts.push({\n      display,\n      reason,\n      image: '',\n      started_at: null,\n      finished_at: null,\n      ping_url: '',\n      ping_http_status: null,\n      ping_latency_ms: null,\n      ...extra,\n    });\n  }\n};\n\nfor (const container of Array.isArray(payload.containers) ? payload.containers : []) {\n  const key = buildKey(container);\n  const display = buildDisplay(container);\n  const inactiveReason = getInactiveReason(container);\n\n  if (inactiveReason) {\n    registerAlert(key, display, inactiveReason, {\n      image: String(container.image ?? ''),\n      started_at: container.started_at,\n      finished_at: container.finished_at,\n    });\n    continue;\n  }\n\n  const pingUrl = resolvePingTarget(container);\n  if (!pingUrl) {\n    continue;\n  }\n\n  const pingResult = await runPingCheck(pingUrl);\n  if (pingResult.ok) {\n    continue;\n  }\n\n  const reasonParts = [pingResult.error || 'ping_http_status_desconhecido'];\n  if (pingResult.latencyMs !== null && pingResult.latencyMs !== undefined) {\n    reasonParts.push(`ping_latency_ms=${pingResult.latencyMs}`);\n  }\n\n  registerAlert(`${key}::ping`, display, reasonParts.join(' | '), {\n    image: String(container.image ?? ''),\n    started_at: container.started_at,\n    finished_at: container.finished_at,\n    ping_url: pingUrl,\n    ping_http_status: pingResult.status,\n    ping_latency_ms: pingResult.latencyMs,\n  });\n}\n\nif (payload.meta_error) {\n  registerAlert('__collector__', 'coleta_docker', String(payload.meta_error));\n}\n\nif (pingConfig.error) {\n  registerAlert('__ping_config__', 'configuracao_ping', pingConfig.error);\n}\n\nif (store) {\n  store.containerAlertState = nextState;\n}\n\nif (dueAlerts.length === 0) {\n  return [];\n}\n\nconst lines = [\n  'Alerta de containers',\n  '',\n  `Checado em: ${payload.checked_at ?? 'n/d'}`,\n  `Cooldown atual: ${cooldownHours} hora(s)`,\n  `Timeout de ping: ${pingTimeoutMs} ms`,\n  '',\n  'Containers com problema:',\n  ...dueAlerts.map((alert) => {\n    const details = [\n      `- ${alert.display}`,\n      `  motivo: ${alert.reason}`,\n    ];\n    if (alert.ping_url) {\n      details.push(`  ping_url: ${alert.ping_url}`);\n    }\n    if (alert.ping_http_status !== null && alert.ping_http_status !== undefined) {\n      details.push(`  ping_http_status: ${alert.ping_http_status}`);\n    }\n    if (alert.ping_latency_ms !== null && alert.ping_latency_ms !== undefined) {\n      details.push(`  ping_latency_ms: ${alert.ping_latency_ms}`);\n    }\n    if (alert.image) {\n      details.push(`  image: ${alert.image}`);\n    }\n    if (alert.started_at) {\n      details.push(`  started_at: ${alert.started_at}`);\n    }\n    if (alert.finished_at && alert.finished_at !== '0001-01-01T00:00:00Z') {\n      details.push(`  finished_at: ${alert.finished_at}`);\n    }\n    return details.join('\\n');\n  }),\n].join('\\n');\n\nreturn [{\n  json: {\n    hasAlerts: true,\n    cooldownHours,\n    checked_at: payload.checked_at,\n    inactiveCount: dueAlerts.length,\n    alerts: dueAlerts,\n    message: lines,\n  },\n}];"
        },
        "name": "Build Inactive Container Alerts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          280
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.hasAlerts === true }}",
                "operation": "isTrue"
              }
            ]
          },
          "options": {}
        },
        "name": "Has Alerts?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          96,
          280
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $env.VPS_TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Telegram Container Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          352,
          200
        ]
      }
    ],
    "connections": {
      "Every 10 Minutes": {
        "main": [
          [
            {
              "node": "Inspect Docker Containers via SSH",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inspect Docker Containers via SSH": {
        "main": [
          [
            {
              "node": "Build Inactive Container Alerts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Inactive Container Alerts": {
        "main": [
          [
            {
              "node": "Has Alerts?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Alerts?": {
        "main": [
          [
            {
              "node": "Telegram Container Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
