ctrHealthTg240001.export.json
[{"updatedAt": "2026-04-18T16:23:58.648Z", "createdAt": "2026-04-18T16:18:02.173Z", "id": "ctrHealthTg240001", "name": "Docker Container Health Alerts Telegram", "description": "Monitora todos os containers Docker via SSH a cada 10 minutos e envia alerta no Telegram somente quando algum container estiver inativo ou unhealthy. O cooldown por servico e configuravel via env CONTAINER_ALERT_COOLDOWN_HOURS.", "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "*/10 * * * *"}]}}, "name": "Every 10 Minutes", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-768, 288], "id": "56f383dc-3be0-4088-a17f-648ea2231cd3"}, {"parameters": {"authentication": "privateKey", "command": "python3 - <<'PY'\nfrom datetime import datetime\nfrom zoneinfo import ZoneInfo\nimport json\nimport subprocess\n\nresult = {\n    'checked_at': datetime.now(ZoneInfo('America/Sao_Paulo')).isoformat(),\n    'containers': [],\n    'meta_error': None,\n}\n\ntry:\n    ids_proc = subprocess.run(['docker', 'ps', '-aq'], capture_output=True, text=True, check=False)\n    ids = [line.strip() for line in ids_proc.stdout.splitlines() if line.strip()]\n\n    for cid in ids:\n        inspect_proc = subprocess.run(['docker', 'inspect', cid], capture_output=True, text=True, check=False)\n        if inspect_proc.returncode != 0:\n            result['containers'].append({\n                'name': cid[:12],\n                'id': cid[:12],\n                'status': 'inspect_error',\n                'running': False,\n                'health': None,\n                'started_at': None,\n                'finished_at': None,\n                'exit_code': None,\n                'error': inspect_proc.stderr.strip() or 'docker inspect failed',\n                'compose_project': '',\n                'compose_service': '',\n                'image': '',\n            })\n            continue\n\n        raw = json.loads(inspect_proc.stdout)[0]\n        state = raw.get('State') or {}\n        config = raw.get('Config') or {}\n        labels = config.get('Labels') or {}\n        name = (raw.get('Name') or '').lstrip('/') or cid[:12]\n\n        result['containers'].append({\n            'name': name,\n            'id': cid[:12],\n            'status': state.get('Status') or 'unknown',\n            'running': bool(state.get('Running')),\n            'health': (state.get('Health') or {}).get('Status'),\n            'started_at': state.get('StartedAt'),\n            'finished_at': state.get('FinishedAt'),\n            'exit_code': state.get('ExitCode'),\n            'error': state.get('Error') or '',\n            'compose_project': labels.get('com.docker.compose.project') or '',\n            'compose_service': labels.get('com.docker.compose.service') or '',\n            'image': config.get('Image') or '',\n        })\n\n    result['containers'].sort(key=lambda entry: entry['name'])\nexcept Exception as exc:\n    result['meta_error'] = str(exc)\n\nprint(json.dumps(result, ensure_ascii=True))\nPY"}, "name": "Inspect Docker Containers via SSH", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [-480, 288], "id": "1a407506-68fa-48cb-9434-869314681c66", "credentials": {"sshPrivateKey": {"id": "2urEEfcr9NaOCNJN", "name": "SSH Password account"}}}, {"parameters": {"jsCode": "const payload = (() => {\n  try {\n    return JSON.parse(String(items[0]?.json?.stdout ?? '{}'));\n  } catch (error) {\n    return {\n      checked_at: null,\n      containers: [],\n      meta_error: `invalid_json:${error.message}`,\n    };\n  }\n})();\n\nconst env = typeof process !== 'undefined' && process?.env ? process.env : {};\nconst cooldownHoursRaw = Number(env.CONTAINER_ALERT_COOLDOWN_HOURS ?? 5);\nconst cooldownHours = Number.isFinite(cooldownHoursRaw) && cooldownHoursRaw > 0 ? cooldownHoursRaw : 5;\nconst cooldownMs = cooldownHours * 60 * 60 * 1000;\nconst now = Date.now();\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\nconst state = store?.containerAlertState && typeof store.containerAlertState === 'object'\n  ? store.containerAlertState\n  : {};\nconst nextState = {};\nconst dueAlerts = [];\n\nconst buildKey = (container) => {\n  if (container.compose_project && container.compose_service) {\n    return `${container.compose_project}/${container.compose_service}`;\n  }\n  return String(container.name || container.id || 'unknown');\n};\n\nconst buildDisplay = (container) => {\n  if (container.compose_project && container.compose_service) {\n    return `${container.compose_project}/${container.compose_service} (${container.name})`;\n  }\n  return String(container.name || container.id || 'container sem nome');\n};\n\nconst getInactiveReason = (container) => {\n  const status = String(container.status ?? 'unknown').toLowerCase();\n  const health = container.health == null ? '' : String(container.health).toLowerCase();\n  const exitCode = container.exit_code;\n  const error = String(container.error ?? '').trim();\n\n  if (!container.running) {\n    const details = [`status=${status || 'unknown'}`];\n    if (exitCode !== null && exitCode !== undefined && status !== 'running') {\n      details.push(`exitCode=${exitCode}`);\n    }\n    if (error) {\n      details.push(`erro=${error}`);\n    }\n    return details.join(' | ');\n  }\n\n  if (health === 'unhealthy') {\n    return 'health=unhealthy';\n  }\n\n  if (['dead', 'exited', 'paused', 'restarting', 'removing'].includes(status)) {\n    return `status=${status}`;\n  }\n\n  return '';\n};\n\nfor (const container of Array.isArray(payload.containers) ? payload.containers : []) {\n  const key = buildKey(container);\n  const display = buildDisplay(container);\n  const reason = getInactiveReason(container);\n\n  if (!reason) {\n    continue;\n  }\n\n  const previous = state[key] && typeof state[key] === 'object' ? state[key] : null;\n  const lastSentAt = Number(previous?.lastSentAt ?? 0);\n  const shouldAlert = !lastSentAt || now - lastSentAt >= cooldownMs;\n\n  nextState[key] = {\n    display,\n    reason,\n    lastSentAt: shouldAlert ? now : lastSentAt,\n  };\n\n  if (shouldAlert) {\n    dueAlerts.push({\n      display,\n      reason,\n      image: String(container.image ?? ''),\n      started_at: container.started_at,\n      finished_at: container.finished_at,\n    });\n  }\n}\n\nif (payload.meta_error) {\n  const key = '__collector__';\n  const display = 'coleta_docker';\n  const reason = String(payload.meta_error);\n  const previous = state[key] && typeof state[key] === 'object' ? state[key] : null;\n  const lastSentAt = Number(previous?.lastSentAt ?? 0);\n  const shouldAlert = !lastSentAt || now - lastSentAt >= cooldownMs;\n\n  nextState[key] = {\n    display,\n    reason,\n    lastSentAt: shouldAlert ? now : lastSentAt,\n  };\n\n  if (shouldAlert) {\n    dueAlerts.push({\n      display,\n      reason,\n      image: '',\n      started_at: null,\n      finished_at: null,\n    });\n  }\n}\n\nif (store) {\n  store.containerAlertState = nextState;\n}\n\nif (dueAlerts.length === 0) {\n  return [];\n}\n\nconst lines = [\n  'Alerta de containers',\n  '',\n  `Checado em: ${payload.checked_at ?? 'n/d'}`,\n  `Cooldown atual: ${cooldownHours} hora(s)`,\n  '',\n  'Containers com problema:',\n  ...dueAlerts.map((alert) => {\n    const details = [\n      `- ${alert.display}`,\n      `  motivo: ${alert.reason}`,\n    ];\n    if (alert.image) {\n      details.push(`  image: ${alert.image}`);\n    }\n    if (alert.started_at) {\n      details.push(`  started_at: ${alert.started_at}`);\n    }\n    if (alert.finished_at && alert.finished_at !== '0001-01-01T00:00:00Z') {\n      details.push(`  finished_at: ${alert.finished_at}`);\n    }\n    return details.join('\\n');\n  }),\n].join('\\n');\n\nreturn [{\n  json: {\n    hasAlerts: true,\n    cooldownHours,\n    checked_at: payload.checked_at,\n    inactiveCount: dueAlerts.length,\n    alerts: dueAlerts,\n    message: lines,\n  },\n}];"}, "name": "Build Inactive Container Alerts", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-160, 288], "id": "51e575c6-7159-4579-87a7-01fbb7d17eb1"}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ $json.hasAlerts === true }}", "operation": "isTrue"}]}, "options": {}}, "name": "Has Alerts?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [96, 288], "id": "ee906402-96da-4c29-9826-6b8f8ac94008"}, {"parameters": {"chatId": "={{ $env.VPS_TELEGRAM_CHAT_ID }}", "text": "={{ $json.message }}", "additionalFields": {"appendAttribution": false}}, "name": "Telegram Container Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [352, 208], "id": "6603f7d5-dcae-45f8-be44-a2f48a4d394f", "webhookId": "1c561b60-8732-47d2-be2a-83ffb1f092ea", "credentials": {"telegramApi": {"id": "tgCredVps2400001", "name": "Telegram VPS"}}}], "connections": {"Every 10 Minutes": {"main": [[{"node": "Inspect Docker Containers via SSH", "type": "main", "index": 0}]]}, "Inspect Docker Containers via SSH": {"main": [[{"node": "Build Inactive Container Alerts", "type": "main", "index": 0}]]}, "Build Inactive Container Alerts": {"main": [[{"node": "Has Alerts?", "type": "main", "index": 0}]]}, "Has Alerts?": {"main": [[{"node": "Telegram Container Alert", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": {"node:Every 10 Minutes": {"recurrenceRules": []}, "global": {"containerAlertState": {}}}, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "c49f3ac9-c0ce-4df5-b329-17c8c15b7ca5", "activeVersionId": "c49f3ac9-c0ce-4df5-b329-17c8c15b7ca5", "versionCounter": 27, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-04-18T16:18:02.179Z", "createdAt": "2026-04-18T16:18:02.179Z", "role": "workflow:owner", "workflowId": "ctrHealthTg240001", "projectId": "KygIOjXIXgp0a60A", "project": {"updatedAt": "2026-04-18T03:20:33.208Z", "createdAt": "2026-04-18T03:15:32.048Z", "id": "KygIOjXIXgp0a60A", "name": "Pedro Duarte <pedroaugustoaduarte@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "857c2513-a147-4a1e-8c4d-bb8c11216739"}}], "versionMetadata": {"name": "Version c49f3ac9", "description": ""}}]