daily-dev-news-optimized.json
[
  {
    "id": "dvnOptGemini240001",
    "name": "Daily Dev News AI + Summary (Gemini) - Optimized",
    "description": "Versao otimizada para no maximo 2 chamadas ao Gemini por execucao: 1 para selecao/deduplicacao e 1 para compor o digest final.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              }
            ]
          }
        },
        "name": "Daily Cron",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          1200,
          320
        ]
      },
      {
        "parameters": {
          "url": "https://hnrss.org/frontpage",
          "options": {}
        },
        "name": "Hacker News",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1,
        "position": [
          1420,
          180
        ]
      },
      {
        "parameters": {
          "url": "https://news.google.com/rss/search?q=python+backend+ai+data+science",
          "options": {}
        },
        "name": "Google News",
        "type": "n8n-nodes-base.rssFeedRead",
        "typeVersion": 1,
        "position": [
          1420,
          460
        ]
      },
      {
        "parameters": {},
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          1640,
          320
        ]
      },
      {
        "parameters": {
          "functionCode": "const keywords = ['ai','machine learning','data','backend','api','python','llm','rag','architecture','microservices','cloud','agent','agents','openai','gemini','vector','database','postgres','redis','docker','kubernetes'];\nconst now = Date.now();\nconst maxCandidates = 15;\nconst byKey = new Map();\n\nfor (const item of items) {\n  const title = String(item.json.title || '').trim();\n  const snippet = String(item.json.contentSnippet || item.json.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  const link = String(item.json.link || '').trim();\n  const source = String(item.json.creator || item.json.source || item.json.feedTitle || item.json.isoDate || 'RSS').trim();\n  const isoDate = String(item.json.isoDate || item.json.pubDate || '').trim();\n  const text = `${title} ${snippet}`.toLowerCase();\n\n  if (!title || !link) {\n    continue;\n  }\n\n  const keywordHits = keywords.filter((keyword) => text.includes(keyword)).length;\n  if (keywordHits === 0) {\n    continue;\n  }\n\n  const publishedTs = isoDate ? Date.parse(isoDate) : NaN;\n  let score = keywordHits * 2;\n  if (Number.isFinite(publishedTs)) {\n    const ageHours = (now - publishedTs) / (1000 * 60 * 60);\n    if (ageHours <= 24) score += 4;\n    else if (ageHours <= 72) score += 2;\n  }\n  if (/hacker news/i.test(link) || /ycombinator/i.test(link) || /hnrss/i.test(link)) score += 1;\n  if (/openai|gemini|anthropic|postgres|redis|docker|kubernetes|python|backend|llm|rag/i.test(text)) score += 2;\n\n  const normalizedTitle = title.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n  const dedupeKey = link || normalizedTitle;\n  const candidate = {\n    title,\n    snippet: snippet.slice(0, 500),\n    link,\n    source,\n    isoDate,\n    heuristicScore: score,\n  };\n\n  const previous = byKey.get(dedupeKey);\n  if (!previous || candidate.heuristicScore > previous.heuristicScore || candidate.snippet.length > previous.snippet.length) {\n    byKey.set(dedupeKey, candidate);\n  }\n}\n\nconst candidates = [...byKey.values()]\n  .sort((a, b) => {\n    if (b.heuristicScore !== a.heuristicScore) return b.heuristicScore - a.heuristicScore;\n    return String(b.isoDate).localeCompare(String(a.isoDate));\n  })\n  .slice(0, maxCandidates)\n  .map((item, index) => ({\n    rank_preliminar: index + 1,\n    titulo: item.title,\n    descricao: item.snippet,\n    link: item.link,\n    fonte: item.source,\n    publicado_em: item.isoDate,\n    score_heuristico: item.heuristicScore,\n  }));\n\nif (candidates.length === 0) {\n  return [];\n}\n\nconst selectionPrompt = [\n  'Voce e um editor tecnico de newsletter para devs.',\n  'Recebera uma lista pre-filtrada de noticias de tecnologia.',\n  'Tarefas:',\n  '1. Deduplicar temas parecidos.',\n  '2. Escolher no maximo 6 noticias.',\n  '3. Priorizar relevancia pratica para backend, IA aplicada, dados, arquitetura e tooling.',\n  '4. Classificar cada item como aprendizado ou atualizacao.',\n  '5. Gerar um resumo curto e objetivo em portugues para cada item.',\n  'Use somente os dados recebidos. Nao invente fatos.',\n  'Responda estritamente em JSON valido com esta estrutura:',\n  '{\"selected\":[{\"titulo\":\"...\",\"categoria\":\"aprendizado|atualizacao\",\"resumo\":\"...\",\"link\":\"...\",\"fonte\":\"...\",\"score\":1}],\"observacao\":\"...\"}',\n  '',\n  'Noticias:',\n  JSON.stringify(candidates),\n].join('\\n');\n\nreturn [{\n  json: {\n    candidateCount: candidates.length,\n    candidates,\n    selectionPrompt,\n  },\n}];"
        },
        "name": "Prepare Candidate Batch",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1880,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{$env.DEV_NEWS_GOOGLE_API_KEY || $env.GOOGLE_API_KEY}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { contents: [{ parts: [{ text: $json.selectionPrompt }] }], generationConfig: { temperature: 0.2, responseMimeType: 'application/json' } } }}",
          "options": {}
        },
        "name": "Gemini Select Stories",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2140,
          320
        ]
      },
      {
        "parameters": {
          "functionCode": "const getFallbackCandidates = () => {\n  try {\n    const previousItems = $items('Prepare Candidate Batch', 0, 0);\n    return Array.isArray(previousItems?.[0]?.json?.candidates) ? previousItems[0].json.candidates : [];\n  } catch {\n    return [];\n  }\n};\n\nconst fallbackCandidates = getFallbackCandidates();\nconst raw = String(items[0].json.candidates?.[0]?.content?.parts?.[0]?.text || '');\nconst clean = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch {\n  parsed = { selected: [] };\n}\n\nlet selected = Array.isArray(parsed.selected) ? parsed.selected : [];\nselected = selected\n  .filter((item) => item && item.titulo && item.link)\n  .slice(0, 6)\n  .map((item) => ({\n    titulo: String(item.titulo).trim(),\n    categoria: String(item.categoria || 'atualizacao').trim().toLowerCase() === 'aprendizado' ? 'aprendizado' : 'atualizacao',\n    resumo: String(item.resumo || '').trim().slice(0, 280),\n    link: String(item.link).trim(),\n    fonte: String(item.fonte || 'RSS').trim(),\n    score: Number(item.score) || 5,\n  }));\n\nif (selected.length === 0) {\n  selected = fallbackCandidates.slice(0, 5).map((item, index) => ({\n    titulo: String(item.titulo || item.title || '').trim(),\n    categoria: index < 2 ? 'aprendizado' : 'atualizacao',\n    resumo: String(item.descricao || item.snippet || '').trim().slice(0, 220),\n    link: String(item.link || '').trim(),\n    fonte: String(item.fonte || item.source || 'RSS').trim(),\n    score: Number(item.score_heuristico) || 5,\n  })).filter((item) => item.titulo && item.link);\n}\n\nif (selected.length === 0) {\n  return [];\n}\n\nconst digestPrompt = [\n  'Voce escreve um resumo diario tecnico para Telegram.',\n  'Use tom direto, util e curto.',\n  'Nao invente detalhes.',\n  'Estruture a resposta em portugues.',\n  'Use exatamente o titulo Resumo Diario na primeira linha.',\n  'Separe em duas secoes: Aprendizado e Atualizacoes.',\n  'Use no maximo 1-2 linhas por noticia.',\n  'Em cada noticia, use este bloco na ordem exata: titulo, resumo, linha Link:, URL em linha separada e uma linha em branco extra antes da proxima noticia.',\n  'Finalize com uma linha de fechamento curta.',\n  'Responda estritamente em JSON valido no formato {\"text\":\"...\"}.',\n  '',\n  'Noticias selecionadas:',\n  JSON.stringify(selected),\n].join('\\n');\n\nreturn [{\n  json: {\n    selected,\n    selectedCount: selected.length,\n    digestPrompt,\n  },\n}];"
        },
        "name": "Parse Selected Stories",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2400,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{$env.DEV_NEWS_GOOGLE_API_KEY || $env.GOOGLE_API_KEY}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { contents: [{ parts: [{ text: $json.digestPrompt }] }], generationConfig: { temperature: 0.3, responseMimeType: 'application/json' } } }}",
          "options": {}
        },
        "name": "Gemini Compose Digest",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2660,
          320
        ]
      },
      {
        "parameters": {
          "functionCode": "const TELEGRAM_MAX_LENGTH = 3900;\nconst TRUNCATION_SUFFIX = '\\n\\n<i>...mensagem cortada para caber no Telegram.</i>';\n\nconst escapeHtml = (value) => String(value || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;');\n\nconst decodeHtmlEntities = (value) => String(value || '')\n  .replace(/&quot;/g, '\"')\n  .replace(/&gt;/g, '>')\n  .replace(/&lt;/g, '<')\n  .replace(/&amp;/g, '&');\n\nconst getVisibleLength = (value) => decodeHtmlEntities(String(value || '').replace(/<[^>]+>/g, '')).length;\nconst getRawLength = (value) => String(value || '').length;\nconst fitsTelegram = (value, maxLength = TELEGRAM_MAX_LENGTH) => getVisibleLength(value) <= maxLength && getRawLength(value) <= maxLength;\n\nconst buildTelegramLink = (url, label = 'Abrir noticia') => {\n  const safeUrl = escapeHtml(url);\n  const safeLabel = escapeHtml(label);\n  return `<a href=\\\"${safeUrl}\\\">${safeLabel}</a>`;\n};\n\nconst linkify = (value) => escapeHtml(value).replace(/(https?:\\/\\/[^\\s<]+)/g, (url) => buildTelegramLink(url, 'link'));\n\nconst parseGeminiDigest = () => {\n  const raw = String(items[0].json.candidates?.[0]?.content?.parts?.[0]?.text || '');\n  const clean = raw.replace(/^```json\\s*/i, '').replace(/^```/i, '').replace(/```$/i, '').trim();\n\n  if (!clean) {\n    return '';\n  }\n\n  try {\n    const parsed = JSON.parse(clean);\n    if (typeof parsed.text === 'string' && parsed.text.trim()) {\n      return parsed.text.trim();\n    }\n  } catch {\n    // If Gemini returned plain text instead of JSON, keep the sanitized body below.\n  }\n\n  return clean;\n};\n\nconst getSelected = () => {\n  try {\n    const previousItems = $items('Parse Selected Stories', 0, 0);\n    return Array.isArray(previousItems?.[0]?.json?.selected) ? previousItems[0].json.selected : [];\n  } catch {\n    return [];\n  }\n};\n\nconst renderDigestText = (value) => String(value || '')\n  .split(/\\r?\\n/)\n  .map((line) => {\n    const trimmed = line.trim();\n    if (!trimmed) return '';\n    if (/^Resumo Diario:?$/i.test(trimmed) || /^Resumo Diário:?$/i.test(trimmed)) return '<b>Resumo Diário</b>';\n    if (/^Aprendizado:?$/i.test(trimmed)) return '<b>Aprendizado</b>';\n    if (/^Atualizacoes:?$/i.test(trimmed) || /^Atualizações:?$/i.test(trimmed)) return '<b>Atualizacoes</b>';\n    return linkify(line);\n  })\n  .join('\\n');\n\nconst truncateTelegramHtml = (value, maxLength = TELEGRAM_MAX_LENGTH) => {\n  const html = String(value || '').trim();\n\n  if (!html || fitsTelegram(html, maxLength)) {\n    return html;\n  }\n\n  const safeLimit = Math.max(maxLength - Math.max(getVisibleLength(TRUNCATION_SUFFIX), getRawLength(TRUNCATION_SUFFIX)), 0);\n  const lines = html.split('\\n');\n  const kept = [];\n\n  for (const line of lines) {\n    const candidate = kept.length ? `${kept.join('\\n')}\\n${line}` : line;\n    if (!fitsTelegram(candidate, safeLimit)) {\n      break;\n    }\n    kept.push(line);\n  }\n\n  let truncated = kept.join('\\n').replace(/\\n+$/g, '');\n\n  if (!truncated) {\n    const plainText = decodeHtmlEntities(html.replace(/<[^>]+>/g, '')).slice(0, Math.max(safeLimit - 3, 0)).trimEnd();\n    truncated = escapeHtml(plainText);\n  }\n\n  const finalText = `${truncated}${TRUNCATION_SUFFIX}`;\n  return fitsTelegram(finalText, maxLength) ? finalText : escapeHtml(decodeHtmlEntities(truncated).slice(0, Math.max(maxLength - 64, 0)).trimEnd()) + TRUNCATION_SUFFIX;\n};\n\nconst selected = getSelected();\nconst aprendizado = selected.filter((item) => item.categoria === 'aprendizado');\nconst atualizacoes = selected.filter((item) => item.categoria !== 'aprendizado');\n\nconst formatItem = (item) => {\n  const safeTitle = escapeHtml(item.titulo);\n  const safeResumo = escapeHtml(item.resumo);\n\n  return [\n    `- ${safeTitle}`,\n    safeResumo,\n    'Link:',\n    buildTelegramLink(item.link),\n  ].filter(Boolean).join('\\n');\n};\n\nconst buildSection = (title, rows) => {\n  if (!rows.length) return '';\n  return [`<b>${escapeHtml(title)}</b>`, '', rows.map(formatItem).join('\\n\\n\\n\\n')].join('\\n');\n};\n\nconst fallbackText = [\n  '<b>Resumo Diário</b>',\n  '',\n  buildSection('Aprendizado', aprendizado),\n  buildSection('Atualizacoes', atualizacoes),\n  'Feito com curadoria em lote para reduzir custo de IA.',\n].filter(Boolean).join('\\n\\n');\n\nconst geminiDigest = parseGeminiDigest();\nconst text = truncateTelegramHtml(geminiDigest ? renderDigestText(geminiDigest) : fallbackText);\n\nreturn [{ json: { text } }];"
        },
        "name": "Parse Final Digest",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2920,
          320
        ]
      },
      {
        "parameters": {
          "chatId": "={{$env.DEV_NEWS_TELEGRAM_CHAT_ID}}",
          "text": "={{$json.text}}",
          "additionalFields": {
            "parseMode": "HTML"
          }
        },
        "name": "Send Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          3160,
          320
        ],
        "credentials": {
          "telegramApi": {
            "id": "pk7OK9vR8FHBwAYj",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Daily Cron": {
        "main": [
          [
            {
              "node": "Hacker News",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google News",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hacker News": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google News": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Prepare Candidate Batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Candidate Batch": {
        "main": [
          [
            {
              "node": "Gemini Select Stories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Select Stories": {
        "main": [
          [
            {
              "node": "Parse Selected Stories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Selected Stories": {
        "main": [
          [
            {
              "node": "Gemini Compose Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Compose Digest": {
        "main": [
          [
            {
              "node": "Parse Final Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Final Digest": {
        "main": [
          [
            {
              "node": "Send Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
]
