feconect-error-alerts.json
[
  {
    "id": "feconectErrorAlerts240001",
    "name": "FeConect - Error Alerts Telegram",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/5 * * * *"
              }
            ]
          }
        },
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -800,
          336
        ]
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "for service in backend billing-worker billing-webhook-consumer webhook-outbox-relay email-consumer email-outbox-relay change-subscription-worker financial-account-balance-snapshot-worker church-documents-retention-worker; do\n  cid=$(docker ps --filter \"label=com.docker.compose.project=feconect\" --filter \"label=com.docker.compose.service=$service\" -q | head -n 1)\n  if [ -n \"$cid\" ]; then\n    docker logs --since 5m \"$cid\" 2>&1 | sed \"s/^/[${service}] /\"\n  fi\ndone"
        },
        "name": "Fetch Docker Logs via SSH",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          -528,
          336
        ]
      },
      {
        "parameters": {
          "jsCode": "const TELEGRAM_MAX_LENGTH = 3900;\nconst LINE_MAX_LENGTH = 280;\nconst stdout = String(items[0]?.json?.stdout ?? items[0]?.json?.data ?? '');\nconst stripAnsi = (value) => value.replace(/\\u001b\\[[0-9;]*m/g, '');\nconst sanitizeLine = (value) => stripAnsi(String(value || ''))\n  .replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F\\u007F]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst shorten = (value, max = LINE_MAX_LENGTH) => value.length > max ? `${value.slice(0, Math.max(max - 3, 0)).trimEnd()}...` : value;\nconst truncateMessage = (value, max = TELEGRAM_MAX_LENGTH) => {\n  const text = String(value || '').trim();\n  if (text.length <= max) {\n    return text;\n  }\n  return `${text.slice(0, Math.max(max - 35, 0)).trimEnd()}\\n\\n...alerta cortado para caber no Telegram.`;\n};\nconst lines = stdout\n  .split('\\n')\n  .map((line) => sanitizeLine(line))\n  .filter(Boolean);\n\nconst benignPatterns = [\n  /get \\/metrics/i,\n  /nenhum evento elegivel para replay/i,\n  /no email outbox events eligible for replay/i,\n  /executando replay de eventos de webhook pendentes\\/falhos/i,\n];\n\nconst criticalPatterns = [\n  /\"level\":\"error\"/i,\n  /\"severity\":\"error\"/i,\n  /\\b(error|erro|fatal|panic|critical|crit|exception|uncaught)\\b/i,\n  /\\b(falha|falhou|failed|failure)\\b/i,\n  /\\b(timeout|timed out|refused|unavailable)\\b/i,\n];\n\nconst interesting = [];\nfor (const line of lines) {\n  if (benignPatterns.some((pattern) => pattern.test(line))) {\n    continue;\n  }\n\n  const lower = line.toLowerCase();\n  const isStructuredWarn = lower.includes('\"level\":\"warn\"') || lower.includes('\"severity\":\"warn\"');\n  const hasCriticalSignal = criticalPatterns.some((pattern) => pattern.test(line));\n\n  if (!hasCriticalSignal && !isStructuredWarn) {\n    continue;\n  }\n\n  if (isStructuredWarn && !hasCriticalSignal) {\n    continue;\n  }\n\n  interesting.push(shorten(line));\n}\n\nconst dedup = [...new Set(interesting)].slice(0, 10);\nconst hasAlerts = dedup.length > 0;\nconst signature = JSON.stringify(dedup);\nconst now = Date.now();\nconst cooldownMs = 30 * 60 * 1000;\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n\nif (!hasAlerts) {\n  if (store) {\n    delete store.lastAlertSignature;\n    delete store.lastAlertSentAt;\n  }\n  return [];\n}\n\nif (store) {\n  const lastSignature = String(store.lastAlertSignature ?? '');\n  const lastSentAt = Number(store.lastAlertSentAt ?? 0);\n  const withinCooldown = lastSignature === signature && lastSentAt > 0 && now - lastSentAt < cooldownMs;\n  if (withinCooldown) {\n    return [];\n  }\n  store.lastAlertSignature = signature;\n  store.lastAlertSentAt = now;\n}\n\nconst message = truncateMessage([\n  'Alerta FeConect',\n  '',\n  'Erros recentes nos containers:',\n  '',\n  ...dedup.map((line) => `- ${line}`),\n].join('\\n'));\n\nreturn [{\n  json: {\n    hasAlerts: true,\n    alerts: dedup,\n    message,\n  },\n}];"
        },
        "name": "Extract Error Alerts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          336
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.hasAlerts === true }}",
                "operation": "isTrue"
              }
            ]
          },
          "options": {}
        },
        "name": "Has Alerts?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          0,
          336
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $env.FECONECT_TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Telegram Error Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          240,
          256
        ],
        "credentials": {
          "telegramApi": {
            "id": "tgCredFecon24001",
            "name": "Telegram FeConect"
          }
        }
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Fetch Docker Logs via SSH",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Docker Logs via SSH": {
        "main": [
          [
            {
              "node": "Extract Error Alerts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Error Alerts": {
        "main": [
          [
            {
              "node": "Has Alerts?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Alerts?": {
        "main": [
          [
            {
              "node": "Telegram Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
