feconect-daily-summary.json
[
  {
    "name": "FeConect - Daily Summary Telegram",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "name": "Daily 09:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH bounds AS (\n  SELECT ((CURRENT_TIMESTAMP AT TIME ZONE 'America/Sao_Paulo')::date - INTERVAL '1 day')::date AS day_ref\n), payments AS (\n  SELECT\n    COUNT(*)::int AS total_events,\n    COUNT(*) FILTER (WHERE status IN ('RECEIVED', 'CONFIRMED'))::int AS success_count,\n    COUNT(*) FILTER (WHERE status NOT IN ('RECEIVED', 'CONFIRMED'))::int AS failure_count,\n    COALESCE(SUM(value) FILTER (WHERE status IN ('RECEIVED', 'CONFIRMED')), 0)::text AS success_amount\n  FROM public.subscription_payments sp\n  CROSS JOIN bounds b\n  WHERE timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))::date = b.day_ref\n), failed_webhooks AS (\n  SELECT\n    COUNT(*)::int AS failed_count,\n    COUNT(*) FILTER (WHERE attempts >= 3)::int AS critical_count\n  FROM public.gateway_webhook_events gwe\n  CROSS JOIN bounds b\n  WHERE timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))::date = b.day_ref\n    AND gwe.status = 'FAILED'\n), peak_hour AS (\n  SELECT LPAD(EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at)))::text, 2, '0') AS peak_hour\n  FROM public.subscription_payments sp\n  CROSS JOIN bounds b\n  WHERE timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))::date = b.day_ref\n  GROUP BY 1\n  ORDER BY COUNT(*) DESC, 1 ASC\n  LIMIT 1\n), emails AS (\n  SELECT\n    COUNT(*) FILTER (\n      WHERE status = 'DONE'\n        AND timezone('America/Sao_Paulo', COALESCE(processed_at, updated_at, created_at))::date = b.day_ref\n    )::int AS email_done_count,\n    COUNT(*) FILTER (\n      WHERE status <> 'DONE'\n        AND timezone('America/Sao_Paulo', COALESCE(updated_at, created_at))::date = b.day_ref\n    )::int AS email_failed_count,\n    COUNT(*) FILTER (WHERE status <> 'DONE')::int AS email_pending_backlog\n  FROM public.email_outbox_events eo\n  CROSS JOIN bounds b\n), catalog AS (\n  SELECT\n    (SELECT COUNT(*)::int FROM public.users) AS total_users,\n    (SELECT COUNT(*)::int FROM public.churches WHERE deleted_at IS NULL) AS total_churches,\n    (SELECT COUNT(*)::int FROM public.events) AS total_events_catalog,\n    (SELECT COUNT(*)::int FROM public.users u CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', u.created_at)::date = b.day_ref) AS new_users,\n    (SELECT COUNT(*)::int FROM public.churches c CROSS JOIN bounds b WHERE c.deleted_at IS NULL AND timezone('America/Sao_Paulo', c.created_at)::date = b.day_ref) AS new_churches,\n    (SELECT COUNT(*)::int FROM public.events e CROSS JOIN bounds b WHERE timezone('America/Sao_Paulo', e.created_at)::date = b.day_ref) AS new_events\n)\nSELECT\n  TO_CHAR(b.day_ref, 'YYYY-MM-DD') AS local_day,\n  p.total_events,\n  p.success_count,\n  p.failure_count,\n  CASE\n    WHEN p.total_events = 0 THEN 0\n    ELSE ROUND((p.failure_count::numeric / p.total_events::numeric) * 100, 2)\n  END AS failure_rate_pct,\n  p.success_amount,\n  fw.failed_count AS webhook_failed_count,\n  fw.critical_count,\n  COALESCE(ph.peak_hour, 'n/d') AS peak_hour,\n  e.email_done_count,\n  e.email_failed_count,\n  e.email_pending_backlog,\n  c.total_users,\n  c.total_churches,\n  c.total_events_catalog,\n  c.new_users,\n  c.new_churches,\n  c.new_events\nFROM bounds b\nCROSS JOIN payments p\nCROSS JOIN failed_webhooks fw\nCROSS JOIN emails e\nCROSS JOIN catalog c\nLEFT JOIN peak_hour ph ON TRUE;",
          "options": {}
        },
        "name": "Query Daily Summary",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          288,
          0
        ]
      },
      {
        "parameters": {
          "authentication": "privateKey",
          "command": "python3 - <<'PY'\nfrom datetime import datetime, time, timedelta, timezone\nfrom zoneinfo import ZoneInfo\nimport collections\nimport json\nimport re\nimport subprocess\n\nservices = [\n    'backend',\n    'billing-worker',\n    'billing-webhook-consumer',\n    'webhook-outbox-relay',\n    'email-consumer',\n    'email-outbox-relay',\n    'change-subscription-worker',\n    'financial-account-balance-snapshot-worker',\n    'church-documents-retention-worker',\n]\nansi_re = re.compile(r'\\x1b\\[[0-9;]*m')\nhttp_re = re.compile(r'\"([A-Z]+) ([^\\s]+) HTTP/[0-9.]+\" (\\d{3})')\ncritical_re = re.compile(r'\"level\":\"error\"|\"severity\":\"error\"|\\b(error|erro|fatal|panic|critical|crit|exception|uncaught|falha|falhou|failed|failure|timeout|timed out|refused|unavailable)\\b', re.I)\nwarn_re = re.compile(r'\"level\":\"warn\"|\"severity\":\"warn\"|\\bwarn(ing)?\\b', re.I)\nbenign_re = [\n    re.compile(r'get /metrics', re.I),\n    re.compile(r'nenhum evento elegivel para replay', re.I),\n    re.compile(r'no email outbox events eligible for replay', re.I),\n    re.compile(r'executando replay de eventos de webhook pendentes/falhos', re.I),\n]\n\nsummary = {\n    'day_ref': None,\n    'http_requests_total': 0,\n    'http_2xx': 0,\n    'http_3xx': 0,\n    'http_4xx': 0,\n    'http_5xx': 0,\n    'top_paths': [],\n    'error_paths': [],\n    'errors_by_service': {},\n    'warns_by_service': {},\n}\n\ntry:\n    local_tz = ZoneInfo('America/Sao_Paulo')\n    now_local = datetime.now(local_tz)\n    day_ref = now_local.date() - timedelta(days=1)\n    start_local = datetime.combine(day_ref, time.min, tzinfo=local_tz)\n    end_local = start_local + timedelta(days=1)\n    since = start_local.astimezone(timezone.utc).isoformat().replace('+00:00', 'Z')\n    until = end_local.astimezone(timezone.utc).isoformat().replace('+00:00', 'Z')\n    summary['day_ref'] = str(day_ref)\n\n    path_counts = collections.Counter()\n    error_path_counts = collections.Counter()\n    errors_by_service = collections.Counter()\n    warns_by_service = collections.Counter()\n\n    for service in services:\n        cid_proc = subprocess.run(\n            [\n                'docker', 'ps',\n                '--filter', 'label=com.docker.compose.project=feconect',\n                '--filter', f'label=com.docker.compose.service={service}',\n                '-q',\n            ],\n            capture_output=True,\n            text=True,\n        )\n        cids = [line.strip() for line in cid_proc.stdout.splitlines() if line.strip()]\n        if not cids:\n            continue\n\n        logs_proc = subprocess.run(\n            ['docker', 'logs', '--since', since, '--until', until, cids[0]],\n            capture_output=True,\n            text=True,\n        )\n        text = (logs_proc.stdout or '') + ('\\n' + logs_proc.stderr if logs_proc.stderr else '')\n\n        for raw in text.splitlines():\n            line = ansi_re.sub('', raw).strip()\n            if not line:\n                continue\n\n            http_match = http_re.search(line)\n            if service == 'backend' and http_match:\n                _, path, status_text = http_match.groups()\n                if path.startswith('/metrics'):\n                    continue\n                status = int(status_text)\n                summary['http_requests_total'] += 1\n                if 200 <= status < 300:\n                    summary['http_2xx'] += 1\n                elif 300 <= status < 400:\n                    summary['http_3xx'] += 1\n                elif 400 <= status < 500:\n                    summary['http_4xx'] += 1\n                elif 500 <= status < 600:\n                    summary['http_5xx'] += 1\n\n                normalized = re.sub(r'/[0-9a-fA-F-]{8,}', '/:id', path.split('?')[0])\n                path_counts[normalized] += 1\n                if status >= 400:\n                    error_path_counts[f'{normalized} ({status})'] += 1\n                continue\n\n            if any(pattern.search(line) for pattern in benign_re):\n                continue\n\n            if critical_re.search(line):\n                errors_by_service[service] += 1\n            elif warn_re.search(line):\n                warns_by_service[service] += 1\n\n    summary['top_paths'] = [f'{path} ({count})' for path, count in path_counts.most_common(3)]\n    summary['error_paths'] = [f'{path} ({count})' for path, count in error_path_counts.most_common(3)]\n    summary['errors_by_service'] = dict(errors_by_service)\n    summary['warns_by_service'] = dict(warns_by_service)\nexcept Exception as exc:\n    summary['_meta_error'] = str(exc)\n\nprint(json.dumps(summary, ensure_ascii=True))\nPY"
        },
        "name": "Fetch Daily App Context",
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          288,
          208
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition"
        },
        "name": "Merge Daily Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          560,
          80
        ]
      },
      {
        "parameters": {
          "jsCode": "const row = items[0]?.json ?? {};\n\nconst parseJson = (value) => {\n  try {\n    return JSON.parse(String(value ?? '{}'));\n  } catch {\n    return {};\n  }\n};\n\nconst toInt = (value) => Number.parseInt(String(value ?? 0), 10) || 0;\nconst toFloat = (value) => Number(value ?? 0) || 0;\nconst formatList = (value, fallback) => Array.isArray(value) && value.length > 0 ? value.join('; ') : fallback;\nconst formatMap = (value, fallback) => {\n  if (!value || typeof value !== 'object') {\n    return fallback;\n  }\n  const entries = Object.entries(value).filter(([, count]) => Number(count) > 0);\n  return entries.length > 0 ? entries.map(([name, count]) => `${name}=${count}`).join(', ') : fallback;\n};\n\nconst logSummary = parseJson(row.stdout);\nconst day = row.local_day ?? logSummary.day_ref ?? 'n/d';\nconst success = toInt(row.success_count);\nconst failures = toInt(row.failure_count);\nconst total = toInt(row.total_events);\nconst rate = toFloat(row.failure_rate_pct).toFixed(2);\nconst critical = toInt(row.critical_count);\nconst webhookFailed = toInt(row.webhook_failed_count);\nconst peakHour = row.peak_hour ?? 'n/d';\nconst amount = row.success_amount ?? '0';\nconst emailDone = toInt(row.email_done_count);\nconst emailFailed = toInt(row.email_failed_count);\nconst emailPending = toInt(row.email_pending_backlog);\nconst totalUsers = toInt(row.total_users);\nconst totalChurches = toInt(row.total_churches);\nconst totalEventsCatalog = toInt(row.total_events_catalog);\nconst newUsers = toInt(row.new_users);\nconst newChurches = toInt(row.new_churches);\nconst newEvents = toInt(row.new_events);\n\nconst httpTotal = toInt(logSummary.http_requests_total);\nconst http2xx = toInt(logSummary.http_2xx);\nconst http3xx = toInt(logSummary.http_3xx);\nconst http4xx = toInt(logSummary.http_4xx);\nconst http5xx = toInt(logSummary.http_5xx);\nconst topPaths = formatList(logSummary.top_paths, 'n/d');\nconst errorPaths = formatList(logSummary.error_paths, 'nenhuma');\nconst errorServices = formatMap(logSummary.errors_by_service, 'nenhum');\nconst warnServices = formatMap(logSummary.warns_by_service, 'nenhum');\nconst totalErrorSignals = Object.values(logSummary.errors_by_service ?? {}).reduce((sum, value) => sum + toInt(value), 0);\nconst totalWarnSignals = Object.values(logSummary.warns_by_service ?? {}).reduce((sum, value) => sum + toInt(value), 0);\nconst logSummaryError = logSummary._meta_error ? `- observacao: resumo de logs incompleto (${logSummary._meta_error})` : null;\n\nconst messageLines = [\n  `Resumo FeConect (${day})`,\n  '',\n  'Aplicacao:',\n  `- ${httpTotal} requisicoes HTTP no dia`,\n  `- status HTTP: ${http2xx} 2xx | ${http3xx} 3xx | ${http4xx} 4xx | ${http5xx} 5xx`,\n  `- rotas mais acessadas: ${topPaths}`,\n  `- rotas com 4xx/5xx: ${errorPaths}`,\n  `- sinais em logs: ${totalErrorSignals} erros relevantes | ${totalWarnSignals} warnings`,\n  `- servicos com erro: ${errorServices}`,\n  `- servicos com warning: ${warnServices}`,\n  '',\n  'Financeiro e integracoes:',\n  `- ${success} pagamentos confirmados/recebidos de ${total}`,\n  `- ${failures} pagamentos nao ok | taxa de falha ${rate}%`,\n  `- valor confirmado: R$ ${amount}`,\n  `- ${webhookFailed} webhooks com falha | ${critical} criticos (3+ tentativas)`,\n  `- emails: ${emailDone} processados | ${emailFailed} com falha | ${emailPending} pendentes`,\n  `- pico operacional as ${peakHour}h`,\n  '',\n  'Contexto da base:',\n  `- base atual: ${totalUsers} usuarios | ${totalChurches} igrejas | ${totalEventsCatalog} eventos`,\n  `- criados no dia: ${newUsers} usuarios | ${newChurches} igrejas | ${newEvents} eventos`,\n];\n\nif (logSummaryError) {\n  messageLines.push('', logSummaryError);\n}\n\nreturn [{\n  json: {\n    message: messageLines.join('\\n'),\n    summary: row,\n    logSummary,\n  },\n}];"
        },
        "name": "Format Summary Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          80
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.message }}",
          "additionalFields": {}
        },
        "name": "Telegram Summary",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1104,
          80
        ]
      }
    ],
    "connections": {
      "Daily 09:00": {
        "main": [
          [
            {
              "node": "Query Daily Summary",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Daily App Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Daily Summary": {
        "main": [
          [
            {
              "node": "Merge Daily Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Daily App Context": {
        "main": [
          [
            {
              "node": "Merge Daily Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Daily Context": {
        "main": [
          [
            {
              "node": "Format Summary Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Summary Message": {
        "main": [
          [
            {
              "node": "Telegram Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
