feconect-anomaly-detection.json
[
  {
    "updatedAt": "2026-04-27T04:42:19.560Z",
    "createdAt": "2026-04-27T03:40:07.511Z",
    "id": "feconectAnomaly240001",
    "name": "FeConect - Anomaly Detection Telegram",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/10 * * * *"
              }
            ]
          }
        },
        "name": "Every 10 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1056,
          80
        ],
        "id": "e2abe6eb-7c92-485f-8781-9efa2fa5c559"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH current_payments AS (\n  SELECT COUNT(*)::numeric AS current_ok\n  FROM public.subscription_payments sp\n  WHERE COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) >= CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n    AND sp.status IN ('RECEIVED', 'CONFIRMED')\n), historical_payments AS (\n  SELECT COALESCE(AVG(bucket.qty), 0)::numeric AS avg_ok\n  FROM (\n    SELECT\n      date_trunc('hour', timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))) AS bucket_hour,\n      COUNT(*)::numeric AS qty\n    FROM public.subscription_payments sp\n    WHERE COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) >= CURRENT_TIMESTAMP - INTERVAL '14 days'\n      AND COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) < CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n      AND sp.status IN ('RECEIVED', 'CONFIRMED')\n      AND EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))) = EXTRACT(HOUR FROM timezone('America/Sao_Paulo', CURRENT_TIMESTAMP))\n    GROUP BY 1\n  ) AS bucket\n), current_failed_webhooks AS (\n  SELECT COUNT(*)::numeric AS current_failed\n  FROM public.gateway_webhook_events gwe\n  WHERE COALESCE(gwe.updated_at, gwe.created_at) >= CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n    AND gwe.status = 'FAILED'\n), historical_failed_webhooks AS (\n  SELECT COALESCE(AVG(bucket.qty), 0)::numeric AS avg_failed\n  FROM (\n    SELECT\n      date_trunc('hour', timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))) AS bucket_hour,\n      COUNT(*)::numeric AS qty\n    FROM public.gateway_webhook_events gwe\n    WHERE COALESCE(gwe.updated_at, gwe.created_at) >= CURRENT_TIMESTAMP - INTERVAL '14 days'\n      AND COALESCE(gwe.updated_at, gwe.created_at) < CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n      AND gwe.status = 'FAILED'\n      AND EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))) = EXTRACT(HOUR FROM timezone('America/Sao_Paulo', CURRENT_TIMESTAMP))\n    GROUP BY 1\n  ) AS bucket\n)\nSELECT\n  cp.current_ok,\n  hp.avg_ok,\n  cfw.current_failed,\n  hfw.avg_failed\nFROM current_payments cp\nCROSS JOIN historical_payments hp\nCROSS JOIN current_failed_webhooks cfw\nCROSS JOIN historical_failed_webhooks hfw;",
          "options": {}
        },
        "name": "Query Anomaly Metrics",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -768,
          80
        ],
        "id": "69bfe2af-6b36-4503-9e3e-59dcaa2f94f7"
      },
      {
        "parameters": {
          "jsCode": "const TELEGRAM_MAX_LENGTH = 3900;\nconst truncateMessage = (value, max = TELEGRAM_MAX_LENGTH) => {\n  const text = String(value || '').trim();\n  if (text.length <= max) {\n    return text;\n  }\n  return `${text.slice(0, Math.max(max - 35, 0)).trimEnd()}\\n\\n...alerta cortado para caber no Telegram.`;\n};\n\nconst row = items[0]?.json ?? {};\nconst currentOk = Number(row.current_ok ?? 0);\nconst avgOk = Number(row.avg_ok ?? 0);\nconst currentFailed = Number(row.current_failed ?? 0);\nconst avgFailed = Number(row.avg_failed ?? 0);\n\nconst alerts = [];\nif (avgOk >= 5 && currentOk < avgOk * 0.4) {\n  alerts.push(`queda anormal de pagamentos: janela atual=${currentOk}, baseline=${avgOk.toFixed(2)}`);\n}\nif (currentFailed >= 3 && currentFailed > Math.max(avgFailed * 2, 3)) {\n  alerts.push(`alta anormal de webhooks com falha: janela atual=${currentFailed}, baseline=${avgFailed.toFixed(2)}`);\n}\n\nif (alerts.length === 0) {\n  const store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n  if (store) {\n    delete store.lastAlertSignature;\n    delete store.lastAlertSentAt;\n  }\n  return [];\n}\n\nconst signature = JSON.stringify(alerts);\nconst now = Date.now();\nconst cooldownMs = 60 * 60 * 1000;\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n\nif (store) {\n  const lastSignature = String(store.lastAlertSignature ?? '');\n  const lastSentAt = Number(store.lastAlertSentAt ?? 0);\n  const withinCooldown = lastSignature === signature && lastSentAt > 0 && now - lastSentAt < cooldownMs;\n\n  if (withinCooldown) {\n    return [];\n  }\n\n  store.lastAlertSignature = signature;\n  store.lastAlertSentAt = now;\n}\n\nconst message = truncateMessage([\n  'Alerta FeConect: comportamento anormal detectado',\n  '',\n  ...alerts.map((line) => `- ${line}`),\n  '',\n  `metricas: pagamentos_ok_hora=${currentOk} (baseline ${avgOk.toFixed(2)}), webhooks_falhos_hora=${currentFailed} (baseline ${avgFailed.toFixed(2)})`,\n].join('\\n'));\n\nreturn [{\n  json: {\n    hasAlerts: true,\n    alerts,\n    message,\n    metrics: row,\n  },\n}];"
        },
        "name": "Detect Anomalies",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          80
        ],
        "id": "d4b705c8-4f96-4b2a-942b-322f33d68c65"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.hasAlerts }}",
                "operation": "isTrue"
              }
            ],
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            }
          },
          "options": {}
        },
        "name": "Has Anomaly?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -240,
          80
        ],
        "id": "3854a9a7-ae76-405e-9f07-786cb427189e"
      },
      {
        "parameters": {
          "chatId": "={{ $env.FECONECT_TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Telegram Anomaly Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "3a961acd-e23d-4fa2-a6d2-b6fe0a62e07b",
        "webhookId": "84bc78db-84b0-476f-89dc-5f8bdd5e5564",
        "credentials": {
          "telegramApi": {
            "id": "FWUwWMyPu0F0MTjw",
            "name": "Telegram Feconect"
          }
        }
      }
    ],
    "connections": {
      "Every 10 Minutes": {
        "main": [
          [
            {
              "node": "Query Anomaly Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Anomaly Metrics": {
        "main": [
          [
            {
              "node": "Detect Anomalies",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Anomalies": {
        "main": [
          [
            {
              "node": "Has Anomaly?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Anomaly?": {
        "main": [
          [
            {
              "node": "Telegram Anomaly Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": {
      "node:Every 10 Minutes": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "c1fe4cec-e220-4ba6-8472-fcfec1e5909a",
    "activeVersionId": "12a3e5e4-4b6f-43bd-9090-fbd9e09fa34c",
    "versionCounter": 28,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-27T03:40:07.516Z",
        "createdAt": "2026-04-27T03:40:07.516Z",
        "role": "workflow:owner",
        "workflowId": "feconectAnomaly240001",
        "projectId": "PTPubzEf62cPswRq",
        "project": {
          "updatedAt": "2026-04-27T03:37:44.916Z",
          "createdAt": "2026-04-27T03:33:20.870Z",
          "id": "PTPubzEf62cPswRq",
          "name": "Pedro Duarte <pedroaugustoaduarte@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ae62cd26-0424-446d-bf3e-1e703e78fa8b"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
