r0tnSrFgOp4srjKa.export.json
[{"updatedAt": "2026-04-18T06:33:35.170Z", "createdAt": "2026-04-18T04:15:07.530Z", "id": "r0tnSrFgOp4srjKa", "name": "FeConect - Error Alerts Telegram", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "*/5 * * * *"}]}}, "name": "Every 5 Minutes", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-800, 336], "id": "dcc04339-4600-4aed-a689-f860bfa401bd"}, {"parameters": {"authentication": "privateKey", "command": "for service in backend billing-worker billing-webhook-consumer webhook-outbox-relay email-consumer email-outbox-relay change-subscription-worker financial-account-balance-snapshot-worker church-documents-retention-worker; do\n  cid=$(docker ps --filter \"label=com.docker.compose.project=feconect\" --filter \"label=com.docker.compose.service=$service\" -q | head -n 1)\n  if [ -n \"$cid\" ]; then\n    docker logs --since 5m \"$cid\" 2>&1 | sed \"s/^/[${service}] /\"\n  fi\ndone"}, "name": "Fetch Docker Logs via SSH", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [-528, 336], "id": "05241b60-5f95-4824-a8cd-aaca1dc484e7", "credentials": {"sshPrivateKey": {"id": "2urEEfcr9NaOCNJN", "name": "SSH Password account"}}}, {"parameters": {"jsCode": "const stdout = String(items[0]?.json?.stdout ?? items[0]?.json?.data ?? '');\nconst stripAnsi = (value) => value.replace(/\\u001b\\[[0-9;]*m/g, '');\nconst lines = stdout\n  .split('\\n')\n  .map((line) => stripAnsi(line).trim())\n  .filter(Boolean);\n\nconst benignPatterns = [\n  /get \\/metrics/i,\n  /nenhum evento elegivel para replay/i,\n  /no email outbox events eligible for replay/i,\n  /executando replay de eventos de webhook pendentes\\/falhos/i,\n];\n\nconst criticalPatterns = [\n  /\"level\":\"error\"/i,\n  /\"severity\":\"error\"/i,\n  /\\b(error|erro|fatal|panic|critical|crit|exception|uncaught)\\b/i,\n  /\\b(falha|falhou|failed|failure)\\b/i,\n  /\\b(timeout|timed out|refused|unavailable)\\b/i,\n];\n\nconst interesting = [];\nfor (const line of lines) {\n  if (benignPatterns.some((pattern) => pattern.test(line))) {\n    continue;\n  }\n\n  const lower = line.toLowerCase();\n  const isStructuredWarn = lower.includes('\"level\":\"warn\"') || lower.includes('\"severity\":\"warn\"');\n  const hasCriticalSignal = criticalPatterns.some((pattern) => pattern.test(line));\n\n  if (!hasCriticalSignal && !isStructuredWarn) {\n    continue;\n  }\n\n  if (isStructuredWarn && !hasCriticalSignal) {\n    continue;\n  }\n\n  interesting.push(line);\n}\n\nconst dedup = [...new Set(interesting)].slice(0, 10);\nconst hasAlerts = dedup.length > 0;\nconst signature = JSON.stringify(dedup);\nconst now = Date.now();\nconst cooldownMs = 30 * 60 * 1000;\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n\nif (!hasAlerts) {\n  if (store) {\n    delete store.lastAlertSignature;\n    delete store.lastAlertSentAt;\n  }\n  return [];\n}\n\nif (store) {\n  const lastSignature = String(store.lastAlertSignature ?? '');\n  const lastSentAt = Number(store.lastAlertSentAt ?? 0);\n  const withinCooldown = lastSignature === signature && lastSentAt > 0 && now - lastSentAt < cooldownMs;\n  if (withinCooldown) {\n    return [];\n  }\n  store.lastAlertSignature = signature;\n  store.lastAlertSentAt = now;\n}\n\nconst message = [\n  'Alerta FeConect',\n  '',\n  'Erros recentes nos containers:',\n  '',\n  ...dedup.map((line) => `- ${line}`),\n].join('\\n');\n\nreturn [{ json: { hasAlerts: true, alerts: dedup, message } }];"}, "name": "Extract Error Alerts", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-240, 336], "id": "68e46f08-099f-4b6b-9205-341ee3d0c03a"}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ $json.hasAlerts === true }}", "operation": "isTrue"}]}, "options": {}}, "name": "Has Alerts?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [0, 336], "id": "f9b8c7bc-4168-4387-ace0-2e710f9c6312"}, {"parameters": {"chatId": "={{ $env.FECONECT_TELEGRAM_CHAT_ID }}", "text": "={{ $json.message }}", "additionalFields": {"appendAttribution": false, "parse_mode": "Markdown"}}, "name": "Telegram Error Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [240, 256], "id": "9d52d28b-29ce-4ace-a063-39a4e340f91c", "webhookId": "c18f6751-51e4-4e7a-ac3e-53a01d8cc8a3", "credentials": {"telegramApi": {"id": "tgCredFecon24001", "name": "Telegram FeConect"}}}], "connections": {"Every 5 Minutes": {"main": [[{"node": "Fetch Docker Logs via SSH", "type": "main", "index": 0}]]}, "Fetch Docker Logs via SSH": {"main": [[{"node": "Extract Error Alerts", "type": "main", "index": 0}]]}, "Extract Error Alerts": {"main": [[{"node": "Has Alerts?", "type": "main", "index": 0}]]}, "Has Alerts?": {"main": [[{"node": "Telegram Error Alert", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": {"node:Every 5 Minutes": {"recurrenceRules": []}, "global": {}}, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "f758e834-f4a5-4b39-aa4a-15532c665a14", "activeVersionId": "f758e834-f4a5-4b39-aa4a-15532c665a14", "versionCounter": 166, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-04-18T04:15:07.533Z", "createdAt": "2026-04-18T04:15:07.533Z", "role": "workflow:owner", "workflowId": "r0tnSrFgOp4srjKa", "projectId": "KygIOjXIXgp0a60A", "project": {"updatedAt": "2026-04-18T03:20:33.208Z", "createdAt": "2026-04-18T03:15:32.048Z", "id": "KygIOjXIXgp0a60A", "name": "Pedro Duarte <pedroaugustoaduarte@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "857c2513-a147-4a1e-8c4d-bb8c11216739"}}], "versionMetadata": {"name": "Version f758e834", "description": ""}}]