VASP7rRXqDsSI5AC.export.json
[{"updatedAt": "2026-04-18T06:58:51.222Z", "createdAt": "2026-04-18T04:39:32.151Z", "id": "VASP7rRXqDsSI5AC", "name": "FeConect - Anomaly Detection Telegram", "description": null, "active": false, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "*/10 * * * *"}]}}, "id": "489dc9b8-c03b-4498-9f29-0542ae46af33", "name": "Every 10 Minutes", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-1056, 80]}, {"parameters": {"operation": "executeQuery", "query": "WITH current_payments AS (\n  SELECT COUNT(*)::numeric AS current_ok\n  FROM public.subscription_payments sp\n  WHERE COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) >= CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n    AND sp.status IN ('RECEIVED', 'CONFIRMED')\n), historical_payments AS (\n  SELECT COALESCE(AVG(bucket.qty), 0)::numeric AS avg_ok\n  FROM (\n    SELECT\n      date_trunc('hour', timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))) AS bucket_hour,\n      COUNT(*)::numeric AS qty\n    FROM public.subscription_payments sp\n    WHERE COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) >= CURRENT_TIMESTAMP - INTERVAL '14 days'\n      AND COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at) < CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n      AND sp.status IN ('RECEIVED', 'CONFIRMED')\n      AND EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(sp.last_gateway_event_at, sp.paid_at, sp.updated_at, sp.created_at))) = EXTRACT(HOUR FROM timezone('America/Sao_Paulo', CURRENT_TIMESTAMP))\n    GROUP BY 1\n  ) AS bucket\n), current_failed_webhooks AS (\n  SELECT COUNT(*)::numeric AS current_failed\n  FROM public.gateway_webhook_events gwe\n  WHERE COALESCE(gwe.updated_at, gwe.created_at) >= CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n    AND gwe.status = 'FAILED'\n), historical_failed_webhooks AS (\n  SELECT COALESCE(AVG(bucket.qty), 0)::numeric AS avg_failed\n  FROM (\n    SELECT\n      date_trunc('hour', timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))) AS bucket_hour,\n      COUNT(*)::numeric AS qty\n    FROM public.gateway_webhook_events gwe\n    WHERE COALESCE(gwe.updated_at, gwe.created_at) >= CURRENT_TIMESTAMP - INTERVAL '14 days'\n      AND COALESCE(gwe.updated_at, gwe.created_at) < CURRENT_TIMESTAMP - INTERVAL '60 minutes'\n      AND gwe.status = 'FAILED'\n      AND EXTRACT(HOUR FROM timezone('America/Sao_Paulo', COALESCE(gwe.updated_at, gwe.created_at))) = EXTRACT(HOUR FROM timezone('America/Sao_Paulo', CURRENT_TIMESTAMP))\n    GROUP BY 1\n  ) AS bucket\n)\nSELECT\n  cp.current_ok,\n  hp.avg_ok,\n  cfw.current_failed,\n  hfw.avg_failed\nFROM current_payments cp\nCROSS JOIN historical_payments hp\nCROSS JOIN current_failed_webhooks cfw\nCROSS JOIN historical_failed_webhooks hfw;", "options": {}}, "id": "15c142ce-af9a-402c-a1d0-b9ffdd15b5ce", "name": "Query Anomaly Metrics", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-768, 80], "credentials": {"postgres": {"id": "FvFc8yCxaa3CkPIS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const row = items[0]?.json ?? {};\nconst currentOk = Number(row.current_ok ?? 0);\nconst avgOk = Number(row.avg_ok ?? 0);\nconst currentFailed = Number(row.current_failed ?? 0);\nconst avgFailed = Number(row.avg_failed ?? 0);\n\nconst alerts = [];\nif (avgOk >= 5 && currentOk < avgOk * 0.4) {\n  alerts.push(`queda anormal de pagamentos: janela atual=${currentOk}, baseline=${avgOk.toFixed(2)}`);\n}\nif (currentFailed >= 3 && currentFailed > Math.max(avgFailed * 2, 3)) {\n  alerts.push(`alta anormal de webhooks com falha: janela atual=${currentFailed}, baseline=${avgFailed.toFixed(2)}`);\n}\n\nif (alerts.length === 0) {\n  const store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n  if (store) {\n    delete store.lastAlertSignature;\n    delete store.lastAlertSentAt;\n  }\n  return [];\n}\n\nconst signature = JSON.stringify(alerts);\nconst now = Date.now();\nconst cooldownMs = 60 * 60 * 1000;\nconst store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n\nif (store) {\n  const lastSignature = String(store.lastAlertSignature ?? '');\n  const lastSentAt = Number(store.lastAlertSentAt ?? 0);\n  const withinCooldown = lastSignature === signature && lastSentAt > 0 && now - lastSentAt < cooldownMs;\n\n  if (withinCooldown) {\n    return [];\n  }\n\n  store.lastAlertSignature = signature;\n  store.lastAlertSentAt = now;\n}\n\nconst message = [\n  'Alerta FeConect: comportamento anormal detectado',\n  '',\n  ...alerts.map((line) => `- ${line}`),\n  '',\n  `metricas: pagamentos_ok_hora=${currentOk} (baseline ${avgOk.toFixed(2)}), webhooks_falhos_hora=${currentFailed} (baseline ${avgFailed.toFixed(2)})`,\n].join('\\n');\n\nreturn [{ json: { hasAlerts: true, alerts, message, metrics: row } }];"}, "id": "c5b23714-8439-41bc-a80f-8db42d8051e2", "name": "Detect Anomalies", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 80]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "4f02f2ed-8688-465f-9a71-607244cd3d23", "leftValue": "", "rightValue": "", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "id": "d23642b9-1b86-4525-bf06-e37b1c9e0e15", "name": "Has Anomaly?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [-240, 80]}, {"parameters": {"chatId": "={{ $env.FECONECT_TELEGRAM_CHAT_ID }}", "text": "={{ $json.message }}", "additionalFields": {"appendAttribution": false}}, "id": "2ee10a60-2e22-4ed0-916e-c790e966b621", "name": "Telegram Anomaly Alert", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [0, 0], "webhookId": "055869ff-7bb6-46c2-8ab3-a37cb016291f", "credentials": {"telegramApi": {"id": "tgCredFecon24001", "name": "Telegram FeConect"}}}], "connections": {"Every 10 Minutes": {"main": [[{"node": "Query Anomaly Metrics", "type": "main", "index": 0}]]}, "Query Anomaly Metrics": {"main": [[{"node": "Detect Anomalies", "type": "main", "index": 0}]]}, "Detect Anomalies": {"main": [[{"node": "Has Anomaly?", "type": "main", "index": 0}]]}, "Has Anomaly?": {"main": [[{"node": "Telegram Anomaly Alert", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate", "timeSavedMode": "fixed", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": {"node:Every 10 Minutes": {"recurrenceRules": []}, "global": {}}, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "6353d1d9-720a-4d9d-b571-50af5d783139", "activeVersionId": null, "versionCounter": 86, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-04-18T04:39:32.153Z", "createdAt": "2026-04-18T04:39:32.153Z", "role": "workflow:owner", "workflowId": "VASP7rRXqDsSI5AC", "projectId": "KygIOjXIXgp0a60A", "project": {"updatedAt": "2026-04-18T03:20:33.208Z", "createdAt": "2026-04-18T03:15:32.048Z", "id": "KygIOjXIXgp0a60A", "name": "Pedro Duarte <pedroaugustoaduarte@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "857c2513-a147-4a1e-8c4d-bb8c11216739"}}], "versionMetadata": {"name": "Version 6353d1d9", "description": ""}}]