knowledge-base/workflows/kb-github-push.json
[
  {
    "name": "KB Adapter - GitHub Push Review",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "kb-github-push",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "kb-gh-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst body = json.body && typeof json.body === 'object' ? json.body : json;\nconst payload = body.payload && typeof body.payload === 'object' ? body.payload : body;\nreturn [{ json: { ...payload, payload } }];"
        },
        "id": "kb-gh-prepare",
        "name": "Prepare Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.KB_API_BASE_URL || 'http://knowledge-base:3000'}}/api/webhooks/github/push",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.KB_INTERNAL_SERVICE_TOKEN}}"
              }
            ]
          },
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.payload || $json }}"
        },
        "id": "kb-gh-run",
        "name": "Call push",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: $json }];"
        },
        "id": "kb-gh-parse",
        "name": "Parse Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "kb-gh-respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          960,
          -96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ String($json.ok) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-gh-success-check",
        "name": "Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          960,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{$env.KB_TELEGRAM_BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: $env.KB_TELEGRAM_CHAT_ID, text: $json.telegramMessage }) }}"
        },
        "id": "kb-gh-send-telegram",
        "name": "Send Review To Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{$env.KB_TELEGRAM_BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: $env.KB_TELEGRAM_CHAT_ID, text: $json.message || 'KB github push pipeline failed' }) }}"
        },
        "id": "kb-gh-failure-telegram",
        "name": "Failure Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          176
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Prepare Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Payload": {
        "main": [
          [
            {
              "node": "Call push",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call push": {
        "main": [
          [
            {
              "node": "Parse Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Result": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            },
            {
              "node": "Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Success?": {
        "main": [
          [
            {
              "node": "Send Review To Telegram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Failure Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
