knowledge-base/workflows/kb-ingest.json
[
  {
    "name": "KB Adapter - Ingest",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "kb-event",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true,
            "binaryData": true
          }
        },
        "id": "kb-ingest-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst body = json.body && typeof json.body === 'object' ? json.body : json;\nconst payload = body.payload && typeof body.payload === 'object' ? body.payload : body;\nconst encoded = Buffer.from(JSON.stringify(payload), 'utf8').toString('base64');\nconst tempPath = `/tmp/kb-ingest-${Date.now()}-${Math.random().toString(16).slice(2)}.b64`;\nreturn [{ json: { payload_b64: encoded, payload_file_path: tempPath } }];"
        },
        "id": "kb-ingest-prepare",
        "name": "Prepare Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "command": "=echo '{{$json.payload_b64}}' > '{{$json.payload_file_path}}' && node /home/node/knowledge-base/dist/cli/ingest.js --file '{{$json.payload_file_path}}'; rm -f '{{$json.payload_file_path}}'"
        },
        "id": "kb-ingest-run",
        "name": "Run Ingest CLI",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const stdout = String($json.stdout || '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(stdout || '{}');\n} catch {\n  parsed = { ok: false, message: stdout || 'invalid_json_from_ingest_cli' };\n}\nreturn [{ json: parsed }];"
        },
        "id": "kb-ingest-parse",
        "name": "Parse Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "kb-ingest-response",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          960,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ String($json.ok) }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-ingest-error-check",
        "name": "Needs Alert?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          960,
          160
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{$env.KB_TELEGRAM_BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: $env.KB_TELEGRAM_CHAT_ID, text: $json.message || 'KB ingest failed' }) }}"
        },
        "id": "kb-ingest-alert",
        "name": "Telegram Failure Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          160
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Prepare Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Payload": {
        "main": [
          [
            {
              "node": "Run Ingest CLI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Ingest CLI": {
        "main": [
          [
            {
              "node": "Parse Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Result": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            },
            {
              "node": "Needs Alert?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Alert?": {
        "main": [
          [
            {
              "node": "Telegram Failure Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
