knowledge-base/workflows/kb-reminders.json
[
  {
    "name": "KB Adapter - Reminders",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "id": "kb-reminders-daily-cron",
        "name": "Every Day 09:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          -96
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "* * * * *"
              }
            ]
          }
        },
        "id": "kb-reminders-minute-cron",
        "name": "Every Minute",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          96
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{$env.KB_API_BASE_URL || 'http://knowledge-base:3000'}}/api/internal/n8n/reminders/dispatch?mode=daily&provider={{$json.provider || \"whatsapp\"}}&identityType={{$json.identityType || \"jid\"}}&externalId={{$json.externalId || $json.externalIdentity?.externalId || \"\"}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.KB_INTERNAL_SERVICE_TOKEN}}"
              }
            ]
          },
          "options": {}
        },
        "id": "kb-reminders-daily-cli",
        "name": "Fetch Daily Reminders",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          -96
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{$env.KB_API_BASE_URL || 'http://knowledge-base:3000'}}/api/internal/n8n/reminders/dispatch?mode=exact&provider={{$json.provider || \"whatsapp\"}}&identityType={{$json.identityType || \"jid\"}}&externalId={{$json.externalId || $json.externalIdentity?.externalId || \"\"}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.KB_INTERNAL_SERVICE_TOKEN}}"
              }
            ]
          },
          "options": {}
        },
        "id": "kb-reminders-exact-cli",
        "name": "Fetch Exact Reminders",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: $json }];"
        },
        "id": "kb-reminders-daily-parse",
        "name": "Parse Daily Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: $json }];"
        },
        "id": "kb-reminders-exact-parse",
        "name": "Parse Exact Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ String($json.shouldSend) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-reminders-daily-check",
        "name": "Has Daily Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          -96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ String($json.shouldSend) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-reminders-exact-check",
        "name": "Has Exact Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $env.WPP_KB_GROUP_JID }}"
              },
              {
                "name": "text",
                "value": "={{ '[BOT] ' + $json.text }}"
              }
            ]
          }
        },
        "id": "kb-reminders-daily-send",
        "name": "Send Daily Reminders",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          -128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $env.WPP_KB_GROUP_JID }}"
              },
              {
                "name": "text",
                "value": "={{ '[BOT] ' + $json.text }}"
              }
            ]
          }
        },
        "id": "kb-reminders-exact-send",
        "name": "Send Exact Reminder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          64
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.KB_API_BASE_URL || 'http://knowledge-base:3000'}}/api/internal/n8n/reminders/mark-sent",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.KB_INTERNAL_SERVICE_TOKEN}}"
              }
            ]
          },
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.payload || $json }}"
        },
        "id": "kb-reminders-mark-sent",
        "name": "Mark Exact Reminders Sent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          64
        ]
      }
    ],
    "connections": {
      "Every Day 09:00": {
        "main": [
          [
            {
              "node": "Fetch Daily Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every Minute": {
        "main": [
          [
            {
              "node": "Fetch Exact Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Daily Reminders": {
        "main": [
          [
            {
              "node": "Parse Daily Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Exact Reminders": {
        "main": [
          [
            {
              "node": "Parse Exact Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Daily Result": {
        "main": [
          [
            {
              "node": "Has Daily Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Exact Result": {
        "main": [
          [
            {
              "node": "Has Exact Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Daily Message?": {
        "main": [
          [
            {
              "node": "Send Daily Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Exact Message?": {
        "main": [
          [
            {
              "node": "Send Exact Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Exact Reminder": {
        "main": [
          [
            {
              "node": "Mark Exact Reminders Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
