knowledge-base/Knowledge Base - WhatsApp.json
[
  {
    "id": "kbWhatsApp240001",
    "name": "Knowledge Base - WhatsApp",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-kb-event",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "wa-webhook-001",
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst body = json.body && typeof json.body === 'object' ? json.body : json;\n\nlet data = body.data || body;\nif (Array.isArray(data)) data = data[0];\n\nconst event = String(body.event || '').trim().toUpperCase().replace(/[.-]/g, '_');\nif (event !== 'MESSAGES_UPSERT') {\n  return [{ json: { skip: true, reason: `event_type:${event || 'unknown'}` } }];\n}\n\nconst key = data?.key || {};\nconst msgContent = data?.message || {};\nconst remoteJid = String(key.remoteJid || '').trim();\nconst fromMe = Boolean(key.fromMe);\nconst messageId = String(key.id || '').trim();\nconst sender = String(key.participant || key.remoteJid || '').trim();\n\n// 🤖 FILTRO: Ignora se a mensagem começou com [BOT] e veio de 'fromMe'\nif (fromMe) {\n  const rawText = String(\n    msgContent.conversation ||\n    msgContent.extendedTextMessage?.text ||\n    ''\n  ).trim();\n  if (rawText.startsWith('[BOT]')) {\n    return [{ json: { skip: true, reason: 'bot_self_reply' } }];\n  }\n}\n\nif (!remoteJid.endsWith('@g.us')) return [{ json: { skip: true, reason: 'not_group' } }];\n\nconst allowedGroup = String($env.WPP_KB_GROUP_JID || '').trim();\nif (allowedGroup && remoteJid !== allowedGroup) {\n  return [{ json: { skip: true, reason: `wrong_group:${remoteJid}` } }];\n}\n\n// Media Detection\nconst mediaTypes = [\n  { key: 'imageMessage', type: 'image' },\n  { key: 'documentMessage', type: 'document' },\n  { key: 'audioMessage', type: 'audio' },\n  { key: 'videoMessage', type: 'video' }\n];\nlet mediaType = '';\nlet mediaData = null;\nfor (const mt of mediaTypes) {\n  if (msgContent[mt.key]) {\n    mediaType = mt.type;\n    mediaData = msgContent[mt.key];\n    break;\n  }\n}\n\nconst messageText = String(\n  (mediaData && mediaData.caption) ||\n  msgContent.conversation ||\n  msgContent.extendedTextMessage?.text ||\n  ''\n).trim();\n\nif (!messageText && !mediaType) return [{ json: { skip: true, reason: 'empty' } }];\n\nreturn [{ json: {\n  skip: false,\n  message_text: messageText,\n  sender_jid: sender,\n  group_jid: remoteJid,\n  message_id: messageId,\n  has_media: Boolean(mediaType),\n  raw_message: JSON.stringify(key)\n} }];"
        },
        "id": "wa-filter-001",
        "name": "Filter & Parse Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "wa-cond-skip",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "wa-skip-check-001",
        "name": "Should Skip?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          520,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = {\n  message_text: $json.message_text || '',\n  sender_jid: $json.sender_jid || '',\n  group_jid: $json.group_jid || '',\n  message_id: $json.message_id || '',\n  has_media: $json.has_media || false,\n  media_data_b64: '' // Handled by engine\n};\nreturn [{ json: { input_b64: Buffer.from(JSON.stringify(input)).toString('base64') } }];"
        },
        "id": "wa-prep-engine-001",
        "name": "Prepare Engine Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          780,
          300
        ]
      },
      {
        "parameters": {
          "command": "=echo '{{$json.input_b64}}' | base64 -d | node /home/node/knowledge-base/whatsapp-conversation.mjs --process"
        },
        "id": "wa-engine-001",
        "name": "Run Engine",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1040,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const res = JSON.parse($json.stdout || '{}');\nreturn [{ json: res }];"
        },
        "id": "wa-parse-engine-001",
        "name": "Parse Engine Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1300,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $env.WPP_KB_GROUP_JID }}"
              },
              {
                "name": "text",
                "value": "={{ '[BOT] ' + ($json.reply_text || $json.confirm_text) }}"
              }
            ]
          }
        },
        "id": "wa-send-001",
        "name": "Send Bot Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"ok\": true}",
          "options": {}
        },
        "id": "wa-respond-001",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          780,
          100
        ]
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Filter & Parse Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Parse Message": {
        "main": [
          [
            {
              "node": "Should Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Skip?": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Engine Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Engine Input": {
        "main": [
          [
            {
              "node": "Run Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Engine": {
        "main": [
          [
            {
              "node": "Parse Engine Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Engine Output": {
        "main": [
          [
            {
              "node": "Send Bot Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
]