knowledge-base/knowledge-base-whatsapp.json
[
  {
    "id": "kbWhatsApp240001",
    "name": "Knowledge Base - WhatsApp",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-kb-event",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "wa-webhook-001",
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst body = json.body && typeof json.body === 'object' ? json.body : json;\n\n// Suporte para Evolution v2\nlet data = body.data || body;\nif (Array.isArray(data)) data = data[0];\n\nconst event = String(body.event || '').trim().toUpperCase().replace(/[.-]/g, '_');\nif (event !== 'MESSAGES_UPSERT') {\n  return [{ json: { skip: true, reason: `event_type:${event || 'unknown'}` } }];\n}\n\nconst key = data?.key || {};\nconst msgContent = data?.message || {};\nconst remoteJid = String(key.remoteJid || '').trim();\nconst fromMe = Boolean(key.fromMe);\nconst messageId = String(key.id || '').trim();\nconst sender = String(key.participant || key.remoteJid || '').trim();\n\n// FILTRO DEFINITIVO: Se a mensagem começa com [BOT] e veio de fromMe, IGNORE.\nif (fromMe) {\n  const rawText = String(\n    msgContent.conversation ||\n    msgContent.extendedTextMessage?.text ||\n    ''\n  ).trim();\n  if (rawText.startsWith('[BOT]')) {\n    return [{ json: { skip: true, reason: 'bot_self_reply' } }];\n  }\n}\n\nif (!remoteJid.endsWith('@g.us')) return [{ json: { skip: true, reason: 'not_group' } }];\n\nconst allowedGroup = String($env.WPP_KB_GROUP_JID || '').trim();\nif (allowedGroup && remoteJid !== allowedGroup) {\n  return [{ json: { skip: true, reason: `wrong_group:${remoteJid}` } }];\n}\n\n// Detect media\nconst mediaTypes = [\n  { key: 'imageMessage', type: 'image' },\n  { key: 'documentMessage', type: 'document' },\n  { key: 'audioMessage', type: 'audio' },\n  { key: 'videoMessage', type: 'video' },\n];\nlet mediaType = '';\nlet mediaData = null;\nfor (const mt of mediaTypes) {\n  if (msgContent[mt.key]) {\n    mediaType = mt.type;\n    mediaData = msgContent[mt.key];\n    break;\n  }\n}\n\nconst messageText = String(\n  (mediaData && mediaData.caption) ||\n  msgContent.conversation ||\n  msgContent.extendedTextMessage?.text ||\n  ''\n).trim();\n\nif (!messageText && !mediaType) {\n  return [{ json: { skip: true, reason: 'empty' } }];\n}\n\nreturn [{ json: {\n  skip: false,\n  message_text: messageText,\n  sender_jid: sender,\n  group_jid: remoteJid,\n  message_id: messageId,\n  has_media: Boolean(mediaType),\n  raw_message: JSON.stringify(key),\n} }];"
        },
        "id": "wa-filter-001",
        "name": "Filter & Parse Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "id": "wa-cond-skip",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "wa-skip-check-001",
        "name": "Should Skip?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          520,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $env.WPP_KB_GROUP_JID }}"
              },
              {
                "name": "text",
                "value": "={{ '[BOT] ' + $json.reply_text }}"
              }
            ]
          }
        },
        "id": "wa-send-reply-001",
        "name": "Send WhatsApp Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2600,
          100
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $env.WPP_KB_GROUP_JID }}"
              },
              {
                "name": "text",
                "value": "={{ '[BOT] ' + $json.confirm_text }}"
              }
            ]
          }
        },
        "id": "wa-send-confirm-001",
        "name": "Send Confirmation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3640,
          300
        ]
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Filter & Parse Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Parse Message": {
        "main": [
          [
            {
              "node": "Should Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Skip?": {
        "main": [
          null,
          [
            {
              "node": "Send WhatsApp Reply",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Confirmation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]